@import "style.css";

.personal .r-border-shape .tb,
.personal .r-border-shape .bb {

    w: expression(
       (this.w != parentNode.offsetWidth) ?
       (this.w = parentNode.offsetWidth,
           style.width = this.w + "px") :
       0 );

}

table .block1 .r-border-shape .cn.r {

    m: expression(
       (this.m != parentNode.offsetWidth) ?
       (this.m = parentNode.offsetWidth,
           style.marginLeft = this.m + "px") :
       0 );

}




.subNav .list {
    unicode-bidi:  expression(
       runtimeStyle.unicodeBidi = 'normal',
       insertBefore(
           createElement("g0"), firstChild),
       insertBefore(
           createElement("g1"), firstChild),
       this == parentNode.firstChild ? (className += " first-child") : 0
    );}
.subNav .list g0,
.subNav .list g1 {
    position: absolute;
    z-index: -1;
    top: 1px;
    left: -60px;
    width: 70px;
    height: 14px;}
.subNav .list g0 {
    background: url(../img/g1.png) 0 0 repeat-y;}
.subNav .list g1 {
    left: auto;
    right: -60px;
    background: url(../img/g2.png) 0 0 repeat-y;}

.noted .note {
    unicode-bidi:  expression(
       runtimeStyle.unicodeBidi = 'normal',
       insertBefore(
           createElement("m"), firstChild),
       this == parentNode.firstChild ? (className += " first-child") : 0
    );}
.noted .note m {
    position: absolute;
    background: url(../img/m2.png) 0 0 no-repeat;
    width: 23px;
    height: 22px;
    left: -10px;
    top: -7px;}

h4.alt0 {
    unicode-bidi:  expression(
       runtimeStyle.unicodeBidi = 'normal',
       insertBefore(
           createElement("m"), firstChild),
       this == parentNode.firstChild ? (className += " first-child") : 0
    );}
h4.alt0 m {;
    position: absolute;
    left: 0;
    top: 58%;
    height: 1px;
    width: 31px;
    background: #d2d1d1;}





.counter {list-style-type: expression(runtimeStyle.listStyleType = 'none', this.innerHTML =  '(' + this.innerHTML + ')'  );}
.required {list-style-type: expression(runtimeStyle.listStyleType = 'none', this.innerHTML =  this.innerHTML + '&nbsp;*'  );}



.iefix {
    display: inline-block !important;
    width: 0;
    overflow: hidden;
  }




