.catalog-price {
color:red;
}


.avail-controls {
border: 1px solid #cd6600;
border-radius: 5px;
padding: 3px 10px;
/* background-color: #fcd5b9; */
}

.avail-controls .collapse {
    float:right;
    cursor: pointer;
}

.avail-controls .head {

}

.avail-controls .warning {
    text-align: center;
    padding: 5px;
    font-family: "Trebuchet MS", Lucida;
    font-size: 16px;
    font-weight: bold;
    float:left;
    width:90%;
}

.avail-controls #options-warning {
    text-align: center;
    padding: 5px;
    font-family: "Trebuchet MS", Lucida;
    font-size: 16px;
    font-weight: bold;
    display: none;
    width:90%;
    background-color: blanchedalmond;
    float: left;
}

.avail-controls .checkbox {
padding: 5px 20px;
text-align: center;
}

.avail-controls .checkbox label {
display: inline-block;
vertical-align: middle;
position: relative;
padding-left: 5px;
}

.avail-controls .checkbox label::before {
content: "";
display: inline-block;
position: absolute;
width: 17px;
height: 17px;
left: 0;
margin-left: -20px;
border: 1px solid #cccccc;
border-radius: 3px;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.avail-controls .checkbox label::after {
display: inline-block;
position: absolute;
width: 16px;
height: 16px;
left: 0;
top: 0;
margin-left: -20px;
padding-left: 3px;
padding-top: 1px;
font-size: 11px;
color: #555555;
}

.avail-controls .checkbox input[type="checkbox"],
.avail-controls .checkbox input[type="radio"] {
margin-left: 12px;
opacity: 0;
z-index: 1;
cursor: pointer;
}

.avail-controls .checkbox input[type="checkbox"]:focus + label::before,
.avail-controls .checkbox input[type="radio"]:focus + label::before {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

.avail-controls .checkbox input[type="checkbox"]:checked + label::after,
.avail-controls .checkbox input[type="radio"]:checked + label::after {
font-family: "FontAwesome";
content: "\f00c";
}

.avail-controls .checkbox input[type="checkbox"]:indeterminate + label::after,
.avail-controls .checkbox input[type="radio"]:indeterminate + label::after {
display: block;
content: "";
width: 10px;
height: 3px;
background-color: #555555;
border-radius: 2px;
margin-left: -16.5px;
margin-top: 7px;
}

.avail-controls .checkbox input[type="checkbox"]:disabled,
.avail-controls .checkbox input[type="radio"]:disabled {
cursor: not-allowed;
}

.avail-controls .checkbox input[type="checkbox"]:disabled + label,
.avail-controls .checkbox input[type="radio"]:disabled + label {
opacity: 0.65;
}

.avail-controls .checkbox input[type="checkbox"]:disabled + label::before,
.avail-controls .checkbox input[type="radio"]:disabled + label::before {
background-color: #eeeeee;
cursor: not-allowed;
}

.avail-controls .checkbox.checkbox-circle label::before {
border-radius: 50%;
}

.avail-controls .checkbox.checkbox-inline {
margin-top: 0;
}

.avail-controls .checkbox-primary input[type="checkbox"]:checked + label::before,
.avail-controls .checkbox-primary input[type="radio"]:checked + label::before {
background-color: #337ab7;
border-color: #337ab7;
}

.avail-controls .checkbox-primary input[type="checkbox"]:checked + label::after,
.avail-controls .checkbox-primary input[type="radio"]:checked + label::after {
color: #fff;
}

.avail-controls .checkbox-danger input[type="checkbox"]:checked + label::before,
.avail-controls .checkbox-danger input[type="radio"]:checked + label::before {
background-color: #d9534f;
border-color: #d9534f;
}

.avail-controls .checkbox-danger input[type="checkbox"]:checked + label::after,
.avail-controls .checkbox-danger input[type="radio"]:checked + label::after {
color: #fff;
}

.avail-controls .checkbox-info input[type="checkbox"]:checked + label::before,
.avail-controls .checkbox-info input[type="radio"]:checked + label::before {
background-color: #5bc0de;
border-color: #5bc0de;
}

.avail-controls .checkbox-info input[type="checkbox"]:checked + label::after,
.avail-controls .checkbox-info input[type="radio"]:checked + label::after {
color: #fff;
}

.avail-controls .checkbox-warning input[type="checkbox"]:checked + label::before,
.avail-controls .checkbox-warning input[type="radio"]:checked + label::before {
background-color: #f0ad4e;
border-color: #f0ad4e;
}

.avail-controls .checkbox-warning input[type="checkbox"]:checked + label::after,
.avail-controls .checkbox-warning input[type="radio"]:checked + label::after {
color: #fff;
}

.avail-controls .checkbox-success input[type="checkbox"]:checked + label::before,
.avail-controls .checkbox-success input[type="radio"]:checked + label::before {
background-color: #5cb85c;
border-color: #5cb85c;
}

.avail-controls .checkbox-success input[type="checkbox"]:checked + label::after,
.avail-controls .checkbox-success input[type="radio"]:checked + label::after {
color: #fff;
}

.avail-controls .checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.avail-controls .checkbox-primary input[type="radio"]:indeterminate + label::before {
background-color: #337ab7;
border-color: #337ab7;
}

.avail-controls .checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.avail-controls .checkbox-primary input[type="radio"]:indeterminate + label::after {
background-color: #fff;
}

.avail-controls .checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.avail-controls .checkbox-danger input[type="radio"]:indeterminate + label::before {
background-color: #d9534f;
border-color: #d9534f;
}

.avail-controls .checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.avail-controls .checkbox-danger input[type="radio"]:indeterminate + label::after {
background-color: #fff;
}

.avail-controls .checkbox-info input[type="checkbox"]:indeterminate + label::before,
.avail-controls .checkbox-info input[type="radio"]:indeterminate + label::before {
background-color: #5bc0de;
border-color: #5bc0de;
}

.avail-controls .checkbox-info input[type="checkbox"]:indeterminate + label::after,
.avail-controls .checkbox-info input[type="radio"]:indeterminate + label::after {
background-color: #fff;
}

.avail-controls .checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.avail-controls .checkbox-warning input[type="radio"]:indeterminate + label::before {
background-color: #f0ad4e;
border-color: #f0ad4e;
}

.avail-controls .checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.avail-controls .checkbox-warning input[type="radio"]:indeterminate + label::after {
background-color: #fff;
}

.avail-controls .checkbox-success input[type="checkbox"]:indeterminate + label::before,
.avail-controls .checkbox-success input[type="radio"]:indeterminate + label::before {
background-color: #5cb85c;
border-color: #5cb85c;
}

.avail-controls .checkbox-success input[type="checkbox"]:indeterminate + label::after,
.avail-controls .checkbox-success input[type="radio"]:indeterminate + label::after {
background-color: #fff;
}


.avail-controls input[type="checkbox"].styled:checked + label:after,
.avail-controls input[type="radio"].styled:checked + label:after {
font-family: 'FontAwesome';
content: "\f00c";
}

.avail-controls input[type="checkbox"] .styled:checked + label::before,
.avail-controls input[type="radio"] .styled:checked + label::before {
color: #fff;
}

.avail-controls input[type="checkbox"] .styled:checked + label::after,
.avail-controls input[type="radio"] .styled:checked + label::after {
color: #fff;
}

.avail-controls .save-button {
text-align: center;
padding: 10px 0px;
}

.avail-controls .btn {
    display: inline-block;
    *display: inline;
    padding: 4px 14px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.avail-controls .btn:hover,
.avail-controls .btn:active,
.avail-controls .btn.active,
.avail-controls .btn.disabled,
.avail-controls .btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.avail-controls .btn:active,
.avail-controls .btn.active {
    background-color: #cccccc \9;
}

.avail-controls .btn:first-child {
    *margin-left: 0;
}

.avail-controls .btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.avail-controls .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.avail-controls .btn.active,
.avail-controls .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.avail-controls .btn.disabled,
.avail-controls .btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.avail-controls .btn-large {
    padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.avail-controls .btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.avail-controls .btn-warning:hover,
.avail-controls .btn-warning:active,
.avail-controls .btn-warning.active,
.avail-controls .btn-warning.disabled,
.avail-controls .btn-warning[disabled] {
    color: #ffffff;
    background-color: #f89406;
    *background-color: #df8505;
}

.avail-controls .btn-warning:active,
.avail-controls .btn-warning.active {
    background-color: #c67605 \9;
}
