#simplemodal-overlay{
    opacity: 0.5 !important;
    background-color: #000000 !important;
}

.filter-marker{
    color: #F00;
}

li.img-filter {
    padding: 0 10px;
}
li.img-filter a{
    display: block;
    border: 1px solid rgba(255,102, 0, 0.35);
    clear: both;
    padding: 10px;
    vertical-align: middle;
}

li.img-filter img{
    float:left;
    height: 101px;
    margin-right: 10px;
}
