.basket_block {}
.basket_block .left_column { width: 30%; float: left; box-sizing: border-box; border: 1px solid #FF6600; border-radius: 10px; }
.basket_block .right_column { width: 70%; float: left; box-sizing: border-box; padding-left: 20px }
.basket_block .left_column:after,.basket_block .right_column:after { content: ""; clear: both; }
.basket_block .left_column .tabs_basket { overflow: hidden; cursor: pointer; list-style: none; margin:0; border-bottom: 2px solid #f60; padding: 10px; text-align: center; }
.basket_block .left_column .tabs_basket li { display: inline-block; color: #a69fa0; text-decoration: underline; font-size: 16px; }
.basket_block .left_column .tabs_basket li+li {margin-left: 20px;}
.basket_block .left_column .tabs_basket li:hover,.basket_block .left_column .tabs_basket li.active { text-decoration: none; color: #000; }
.basket_block .left_column .tabs_basket_content { padding: 10px; }
.basket_block .left_column .tabs_basket_content .tabs_item {}
.basket_block .left_column .tabs_basket_content .tabs_item.active {}
.basket_block .left_column .tabs_basket_content .tabs_item .block_text { background: #fc6902; padding: 10px; margin-bottom: 10px; position: relative; }
.basket_block .left_column .tabs_basket_content .tabs_item .block_text .close { padding: 0; margin: 0; background: transparent; border: 0; outline: 0; position: absolute; right: 5px; top: 5px; font-weight: bold; color: #fff; font-size: 16px; cursor: pointer; }
.basket_block .left_column .tabs_basket_content .tabs_item .block_text .title { font-size: 16px; color: #fff; margin-bottom: 10px; font-weight: bold; }
.basket_block .left_column .tabs_basket_content .tabs_item .block_text .desc { font-size: 12px; color: #fff; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click {}
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click label { display: block; margin-bottom: 5px; font-size: 16px; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click label span { font-size: 12px; color: #212121; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input { width: 100%; height: 30px; border: 1px solid #ddd; box-sizing: border-box; padding: 0 10px; margin-bottom: 10px;  }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input:focus { border: 1px solid #fc6902; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input[type=submit] { cursor: pointer; background: #fc6902; border: 0; color: #fff; width: 50%; float: right; transition: all 0.5s;}
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input[type=submit]:hover { background: #e46003; }
.basket_block .right_column .order_tabel { width: 100%; border-spacing: 0; }
.basket_block .right_column .order_tabel thead {}
.basket_block .right_column .order_tabel thead td { padding: 10px; background: #fc6902; color: #fff; text-align: center; }
.basket_block .right_column .order_tabel tbody tr { background: #fff; }
.basket_block .right_column .order_tabel tbody tr:nth-child(even) { background: #f9f9f9; }
.basket_block .right_column .order_tabel tbody tr td { padding: 10px; }
.basket_block .right_column .order_tabel tbody tr td.name_product {}
.basket_block .right_column .order_tabel tbody tr td.photo_product {}
.basket_block .right_column .order_tabel tbody tr td.photo_product img {}
.basket_block .right_column .order_tabel tbody tr td.price_product { width: 15%; text-align: center; }
.basket_block .right_column .order_tabel tbody tr td.del_product {text-align: center;}
.basket_block .right_column .order_tabel tbody tr td.del_product .delpos {background: #e74c3c;border: 0;color: #fff;width: 25px;height: 25px;text-align: center;line-height: 25px;border-radius: 50%;cursor: pointer;transition: all 0.5s;}
.basket_block .right_column .order_tabel tbody tr td.del_product .delpos:hover {background: #c0392b;}
.basket_block .right_column .banner_phone { color: #fff; background: #fc6902; margin-top: 20px; box-sizing: border-box; padding: 10px; overflow: hidden; }
.basket_block .right_column .banner_phone .t1 { font-size: 25px; float: left; margin-right: 20px; }
.basket_block .right_column .banner_phone .t2 { font-size: 25px; font-weight: bold; float: left; }
.basket_block .right_column .banner_phone .t2 span { font-size: 25px; font-weight: normal; }
.basket_block .right_column .banner_phone .t1:after,.basket_block .right_column .banner_phone .t2:after { content: ""; clear: both; }