H1 {margin: 0px 0px 0px 0px; font-weight: bold; font-size: 16px; color: #000000;}
H2 {margin: 0px 0px 0px 0px; font-weight: bold; font-size: 20px; color: #000000;}
H3 {margin: 0px 0px 0px 0px; font-weight: bold; font-size: 14px; color: #680301;}
H4 {margin: 0px 0px 0px 0px; font-weight: bold; font-size: 12px; color: #000000; text-transform: uppercase;}

a {color: #680301; text-decoration:underline;}
a:hover {text-decoration: none;}

a img {border:0;}

.price2 {
	color:#0000ff;
	font-weight:bold;
	font-size:16px;
}

.price3 {
	color:#0000ff;
	font-weight:bold;
	font-size:12px;
}

.bottommenu {font-size: 13px; color: #000000; text-decoration:underline;}
.bottommenu:hover {text-decoration: none;}
.bottommenuact {font-size: 13px; color: #000000; text-decoration:none;}
.bottommenuact:hover {text-decoration: none;}

.zakaz {color: #ffffff; font-size: 13px; text-decoration:none; font-weight: bold;}
.zakaz:hover {text-decoration: underline;}

.faqopened {background:url(/images/filtr.png) no-repeat left -49px; padding:0 24px; font-size:13px; text-decoration:none;}
.faqclosed {background:url(/images/filtr.png) no-repeat left top; padding:0 24px; text-decoration:none;}
.faqclosed span {border-bottom:1px dashed #680301; font-size:13px;}

.faqopened2 {padding:0; font-size:13px; text-decoration:none; width:187px; height:27px;}
.faqclosed2 {padding:0; text-decoration:none; width:187px; height:27px;}


ul {margin:0; padding:0;}
li.level1 {margin:0; padding:2px 0; display:block;}
li.level1 a {display:block; height:auto !important; font:bold 15px/16px Arial; color:#000; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:url(/images/lmenu-a-closed.png) left center no-repeat;}
li.level1 a:hover {color:#ffffff; background:#f79311 url(/images/lmenu-a-closed.png) left center no-repeat;}
li.level1 b {display:block; height:auto !important; font:bold 15px/16px Arial; color:#ffffff; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:#f79311 url(/images/lmenu-a-opened.png) left center no-repeat;}
li.level1 b:hover {color:#ffffff;}


li.level2 {margin:0 0 0 24px; padding:2px 0; display:block;}
li.level2 a {display:block; height:auto !important; font:bold 13px/16px Arial; color:#000; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:url(/images/lmenu-a-closed.png) left center no-repeat;}
li.level2 a:hover {color:#ffffff; background:#f79311 url(/images/lmenu-a-closed.png) left center no-repeat;}
li.level2 b {display:block; height:auto !important; font:bold 13px/16px Arial; color:#ffffff; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:#f79311 url(/images/lmenu-a-opened.png) left center no-repeat;}
li.level2 b:hover {color:#ffffff;}


#lmenu ul {list-style-type:none;margin:0;padding:0}
#lmenu ul li {margin:0;padding:3px 0;display:block;float:left;width:100%}
#lmenu ul li a {font:bold 15px/16px Arial;color:#000;text-decoration:none;display:block;height:auto !important;min-height:16px;height:16px;padding:1px 10px 3px 4px;background-image:url(/img/lmenu-a-closed.png);background-repeat:no-repeat;background-position:right center}
#lmenu ul li a:hover {color:#fff;text-decoration:none}
#lmenu ul li a.opened {background-image:url(/img/lmenu-a-opened.png)}
#lmenu ul li a:hover, #lmenu ul li a.active {background-color:#f79311}
#lmenu ul li ul {margin:0 0 0 24px}
#lmenu ul li ul li a {font:bold 13px/16px Arial}



.level1 {display:block; height:auto !important; font:bold 15px/16px Arial; color:#000; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:url(/images/lmenu-a-closed.png) left center no-repeat;}
.level1:hover {color:#ffffff; background:#f79311 url(/images/lmenu-a-closed.png) left center no-repeat;}
.level1act {display:block; height:auto !important; font:bold 15px/16px Arial; color:#000; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:#f79311 url(/images/lmenu-a-closed.png) left center no-repeat;}

.level2 {display:block; height:auto !important; font:bold 13px/16px Arial; color:#000; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:url(/images/lmenu-a-closed.png) left center no-repeat;}
.level2:hover {color:#ffffff; background:#f79311 url(/images/lmenu-a-closed.png) left center no-repeat;}
.level2act {display:block; height:auto !important; font:bold 13px/16px Arial; color:#ffffff; text-decoration:none; min-height:16px; height:16px; padding:1px 10px 3px 10px; background:#f79311 url(/images/lmenu-a-opened.png) left center no-repeat;}


/*Information block*/
.information-block
{
	width:185px;
	margin-top:10px;
	margin-right:10px;
	padding:10px;
	border:1px solid #BFBFBF;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.information-block-head
{
	color:#979797;
	font-weight:bold;
	font-size:85%;
	border-bottom:1px solid #B5B5B5;
	margin-bottom:4px;
	padding-bottom:5px;
}

.information-block-body
{
	font-size:85%;
	color:#737373;
	margin-right:20px;
}

code
{
	font-size:100%;
	font-weight:normal;
	display:block;
	padding:1.5em 1em 1em 1em;
	border-style:solid;
	border-width:1px;
	border-width:1px 0;
	border-color:#C4C4C3;
	margin:1em 0;
	background-color:#F5F2E6;
	font-family:sans-serif;
}

.news-date-time
{
	color:#E19813;
}