html, body, form
{
	margin: 0;
	padding: 0;
}

html
{
	width:100%;
	height:100%;
	text-align:left;
}

body
{
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:980px;
}

/*Font*/
body
{
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	text-align:left;
}

.eizm
{
	/*color: #999999;
	font-size: 10px;
	padding-left: 5px;*/
		color:#0000ff;
	font-weight:bold;
	font-size:12px;
}



/*Font in table*/
table
{
	text-align:left;
	font-size:12px;
	align:left;
}


/*filter table*/
table.filter-table
{
	width:100%;
	border:0px;
	border-collapse:collapse;
}

table.filter-table td
{
	border:0px solid #C4C4C3;
	background-color:#f9f4ed;
	color:#000000;
	font-weight:bold;
	padding:0px 10px 10px 10px;
	width:50%;
}

table.filter-table td select
{
	font-family: Arial;
	color:#000000;
	font-weight:normal;
	font-size:12px;
}


table.filter-table tfoot td
{
	background-color:#eee0cd;
	padding:10px;
	color:#000000;
}


/*filter table2*/
table.filter-table2
{
	width:100%;
	border:0px;
	border-collapse:collapse;
}

table.filter-table2 td
{
	border:0px solid #eee0cd;
	background-color:#eee0cd;
	color:#000000;
	font-weight:bold;
	padding:0px 10px 10px 10px;
	width:50%;
}

table.filter-table2 tfoot td
{
	background-color:#eee0cd;
	padding:10px;
	color:#000000;
}

/*detail table*/
table.detail-table
{
	width:100%;
	border:1px solid #baad9d;
	border-collapse:collapse;
}

table.detail-table thead td, table.detail-table th
{
	border:1px solid #baad9d;
	background-color:#eee0cd;
	color:#000000;
	font-weight:bold;
	padding:10px 10px 10px 10px;
	text-align:center;

}

table.detail-table td
{
	border:1px solid #baad9d;
	background-color:#f9f4ed;
	color:#000000;
	font-weight:normal;
	padding:10px 10px 10px 10px;
}

table.detail-table td select
{
	font-family: Arial;
	color:#000000;
	font-weight:normal;
	font-size:12px;
}


/*changer table*/
table.changer-table
{
	width:100%;
	border:0px;
	border-collapse:collapse;
}

table.changer-table td
{
	border:0px solid #f2ab25;
	background-color:#f2ab25;
	color:#000000;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	font-size:14px;
}


small
{
	font-size:85%;
}

hr
{
	width:100%;
	height: 1px;
	border: medium none;
	color: #daccbb;
	background-color: #daccbb;
	margin:2px 0;
}




p.news-item
{
	margin-top:0;
}


/*Data table*/
table.data-table
{
	border:1px solid #aca39a;
	border-collapse:collapse;
}

/*Any cell*/
table.data-table td
{
	border:1px solid #aca39a;
	background-color:#F9FAFB;
	color:#000000;
	padding:3px 5px;
}

/*Head cell*/
table.data-table thead td, table.data-table th
{
	background-color:#f2ab25;
	text-align:left;
	font-weight:normal;
	background-image:none;
	border:1px solid #aca39a;
	padding:4px;
	color:#000000;
}

/*Body cell*/
table.data-table tbody td
{
	
	background-image:none;
	color:#000000;
}

/*Foot cell*/
table.data-table tfoot td
{
	
	padding:4px;
	color:#000000;
}



/*Error & OK messages*/
.errortext
{
	color:red;
	font-weight:bold;
        font-size:20px;
}

.notetext
{
	color:green;
}

/* Used to draw a "star" near reqired field */
.starrequired
{
	color:red;
}

/*Forum*/


/*Forum menu*/ 
table.forum-menu {border-left: 1px solid #DAE7DF; border-top: 1px solid #DAE7DF; } 
table.forum-menu td.forumtoolbar {background-color: #F5F2E6; border-left: 1px solid #FFFFFF;border-top: 1px solid #FFFFFF; border-right: 1px solid #C4C4C3; border-bottom: 1px solid #C4C4C3; } 
.forumtoolsection {border-left: 1px solid #FFFFFF;border-top: 1px solid #FFFFFF; border-right: 1px solid #C4C4C3; border-bottom: 1px solid #C4C4C3; } 
.forumtoolseparator {border-left: 1px solid #C4C4C3;border-right: 1px solid #FFFFFF; } 

table.forum-menu a, table.forum-menu select, table.forum-menu input, table.forum-menu td {color:#333}

/* menu popup */
.forum-menu-hidden-in {border: 1px solid #C4C4C3;} 
table.forum-menu-popup-table td, table.forum-menu-popup-table td a { color: black;} 
table.forum-menu-popup-table td.forum-menu-popup, table.forum-menu-popup-table td.forum-menu-popup-hover {border: none; background-color: #F5F2E6; } 
table.forum-menu-popup-table td.forum-group{background-color:#F5F2E6; color:#333;} 
table.forum-menu-popup-table td.forum-menu-popup-hover {background-color: #FBFAF5;} 
div.forum-group{background-color:#F9FBF9; font-weight:bold; color:#333;} 

/*Forum index and list*/ 
table.forum-main {border: 1px solid #C4C4C3;} 
table.forum-main td {background-color:#FBFAF5;border: 1px solid #C4C4C3;} 
table.forum-main th {background-color:#F5F2E6;border: 1px solid #C4C4C3;color: #333;vertical-align: top;} 

div.forum-hr {background-color:#C4C4C3}
div.filter-check-hover {background-color:#F5F2E6}

a.forum-button:link,a.forum-button:visited,a.forum-button:active,a.forum-button:hover {background: #F5F2E6;border: 1px solid #C4C4C3;color: #333;} 
table.forum-main td small {font-size:100%;} 
table.forum-main td.forum-group {background-color:#F5F2E6; color:#333;} 
div.forum-title {border: 1px solid #C4C4C3; padding: 5px; background-color: #F5F2E6 !important; color:#333; } 

/*Forum messages*/ 
table.forum-message {} 
table.forum-message td {background-color: #FBFAF5;border: none;} 
table.forum-message td.forum-message-user-info {background-color: #FBFAF5;border: 1px solid #C4C4C3;border-right-width: 1px;} 
table.forum-message td.border-top {border: 1px solid #C4C4C3;border-left-width: 1px;border-top: none;} 
table.forum-message td.border-bottom {border: 1px solid #C4C4C3;border-left-width: 1px;border-bottom: none;} 

table.forum-message .forum-message-posts, 
table.forum-message .forum-message-status, 
table.forum-message .forum-message-datereg, 
table.forum-message .forum-message-datecreate {color:#333;} 

a.forum-button-small,
a.forum-button-small-vote,
a.forum-button-small-unvote 
{
	background-color: #F5F2E6;
	border: 1px solid #C4C4C3;
	color: #333; 
	font-size: 11px; 
	height:20px;
	padding: 2px 5px 2px 5px;
	box-sizing:border-box; -moz-box-sizing:border-box;
}

a.forum-button-small-vote, a.forum-button-small-unvote {padding-left:18px;}
a.forum-button-small:hover,a.forum-button-small-vote:hover,a.forum-button-small-unvote:hover {color: #333; } 

/*Forum statistics*/ 
table.forum-stat {} 
table.forum-stat th {background-color:#F5F2E6;border: 1px solid #C4C4C3;color: #333;font-weight:bold;padding:5px;} 
table.forum-stat td {background-color:#FBFAF5;border: 1px solid #C4C4C3;} 
table.forum-stat .forum-attention{font-size: 100%;color: black;} 

/*Post form*/ 
table.forum-post-form {border: 1px solid #C4C4C3;} 
table.forum-post-form td {background-color:#FBFAF5;border: 1px solid #C4C4C3;} 
table.forum-post-form th {background-color:#F5F2E6;border: 1px solid #C4C4C3;} 
table.forum-smile {border: 1px solid #C4C4C3;} 
table.forum-smile th {background-color:#F5F2E6;border: 1px solid #C4C4C3;} 
table.forum-smile img { margin: 0px;} 
textarea#POST_MESSAGE{width:100%;} 

/* Only for user-profile*/ 
table.fuser {} 
table.fuser-static th {background-color:#F5F2E6; border:1px solid #C4C4C3;} 
table.fuser-static td {background-color:#FBFAF5; border:1px solid #C4C4C3;} 

/* Tab controls*/ 
table.tabs {border-left:1px solid #C4C4C3;} 
table.tabs td {} 
table.tabs td.tab-indent-left {border-bottom:1px solid #C4C4C3;} 
table.tabs td.tab-indent-right {border-bottom:1px solid #C4C4C3;} 
table.tabs td.tab-container {border:1px solid #C4C4C3; border-left: none;} 
table.tabs td.tab-container-selected {border:1px solid #C4C4C3; border-bottom:1px solid #F9FBF9; border-left: none; background-color:#F9FBF9;} 

table.tabs table td.tab {border-top:1px solid #C4C4C3;} 
table.tabs table td.tab-selected {border-top:1px solid red;} 
table.tabs table td.tab-hover {border-top:1px solid #C4C4C3;} 

/* Tab inside edit form */ 
table.tab {border:1px solid #C4C4C3; border-top:none;} 
table.tab td {background-color:#FBFAF5;}

.forum-menu-hidden-in
{
	max-height:100px;
	height:expression(this.scrollHeight > 100? "100px" : "auto");
}


table.forum-quote td, table.forum-code td 
{
	background-color:#F5F2E6; /*th*/
	border:1px solid #C4C4C3;
}

table.forum-reviews-messages td, table.forum-reviews-messages th
{
	background-color:#FBFAF5; /*td*/
	border-color:#C4C4C3;
}

a.button-small
{
	background:#F5F2E6;
	border:1px solid #C4C4C3;
}


/*Support*/
div.ticket-edit-message
{
	border-color: #C4C4C3;
}

/*Blogs*/

table.blog-table-post td, table.blog-table-post th, table.blog-blog-edit th, table.blog-user-table td.head, table.blog-table-post-comment td, table.blog-table-post-comment th
{
	background-color:#FBFAF5;
}


table.blog-blog-edit td, table.blog-blog-edit-table-smiles, table.blog-table-post td, table.blog-table-post th, table.blog-blog-edit th,
table.blog-user-table td.head, table.blog-user-table td, table.blog-group td, table.blog-category td, table.blog-comment-form th, table.blog-comment-form td,
table.blog-table-post-comment td, table.blog-table-post-comment th
{
	border-color: #C4C4C3;
}

.blog-post-date 
{
	color:#333;
}

table.blog-table-post-table th, table.blog-table-post-table td, table.blog-table-post-comment-table th, table.blog-table-post-comment-table td
{
	font-size:95%;
}

.blogtoolblock {border-color:#C4C4C3;}
.blogtoolbar {background-color:#FBFAF5;border-color:#C4C4C3;border-top:none;}
.blogtoolsection {border-color:#C4C4C3}
.blogtoolbutton, .blogmessbuttontext {color:#333;}
a.blogtoolbutton, .blogmessbuttontext{color:#333;}
.blogtoolseparator {border-left:1px solid #C4C4C3;border-right:1px solid #FBFAF5;}


/*
table.blog-table-post-table th, 
table.blog-table-post-table td*/

/* social network*/
div.socnet-informer {padding:5px;}
div#sonet_events_ms_message {width:150px;}

.addMessYes
{
	position: absolute;
	/*top: 50%;*/
	width: 400px;
	/*left: 40%;*/
	border: 1px solid gray;
	padding: 10px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*text-decoration: blink;*/
	color: #545454;	
	visibility: hidden; 
	text-align:center;
	background-color: #ffffff;
	/*display: none;*/
}

