.data-table.pass-request{
    background-color: #FFFFFF;
    border: 1px solid #ADC3D5;
    border-collapse: collapse;
    font-size: 12px;
    /*width: 100%;*/
}
.data-table.pass-request td{
    padding: 10px 5px;
    vertical-align: top;
    border-bottom: 1px solid #ADC3D5;
}

.data-table.pass-request input, .data-table.pass-request select, .data-table.pass-request textarea, .small{
    font-size: 12px;
}
.data-table.pass-request select{
    height: 21px;
    width: 180px;
}

.hidden{
    display:none;
}

.work_time{
    line-height:23px;
}
