.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

.noted .note:before{
	left: -10px;
}
.noted .note {
	position: static;
	display: block;
	margin-left: 0px !important;
}

.no-active-block {
	width: 672px;
	height: 71px;
	background: no-repeat url(/images/no-active-bg.png);
	padding-top: 20px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 15px;
}

.no-active-block a {
	display: block;
	margin-top: 5px;
	color: #cc6600;
	text-decoration: underline;
}