.item_top_text{
    text-align: center;
    font-weight: bold;
}
.item_bottom_text{
    text-align: center;
}
.open_button_a{
    text-decoration: none!important;
}
.open_button{
    background: #FF9927;
    border: 3px#FF9927;
    border-radius: 3px;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.section_name{
    min-height: 34px;
}