.catalog-price {
	 color:red;
}
.price {
	padding:10px 0 0 0;
	color:#0000ff;
	font-weight:bold;
	font-size:16px;
}
.price_k {
	padding:0px 0 10px 0;
	color:#0000ff;
	font-weight:bold;
	font-size:16px;
}