.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

.noted .note:before{
	left: -10px;
}
.noted .note {
	position: static;
	display: block;
	margin-left: 0px !important;
}
.old .price1 .price {font-size: 14px !important;}

.desc3 .desc .link3 {min-height: 57px !important; padding-bottom: 1px;}