.callback{
    background-color: #FFFFFF;
    border: 1px solid #ADC3D5;
    border-collapse: collapse;
    font-size: 12px;
    /*width: 100%;*/
}
.callback td{
    padding: 10px 5px;
    vertical-align: top;
    border-bottom: 1px solid #ADC3D5;
}

.callback input, .callback select, .callback textarea, .small{
    font-size: 12px;
}
.callback select{
    height: 21px;
}

.hidden{
    display:none;
}

.work_time{
    line-height:23px;
}
