.basket_block {}
.basket_block .message-hours {	display:block;  width: 98%;padding: 10px;border-radius: 3px;background: #fbfbfb;border: 1px solid silver;  margin-bottom: 10px;  font-family: "Trebuchet MS", Impact, Helvetica, Lucida;  font-size:1em;}
.basket_block .message-hours .pull-right { float: right; }
.basket_block .message-hours .announce-order {	font-weight: bold; font-family: "Trebuchet MS", Impact, Helvetica, Lucida; font-size: 1.2em;  color: #fc6902;  margin-bottom: 5px;}
.basket_block .message-hours .accent {	text-decoration:underline;}
.basket_block .left_column { width: 30%; float: left; box-sizing: border-box; border: 1px solid #FF6600; border-radius: 10px; }
.basket_block .right_column { width: 70%; float: left; box-sizing: border-box; padding-left: 20px }
.basket_block .left_column:after,.basket_block .right_column:after { content: ""; clear: both; }
.basket_block .left_column .tabs_basket { overflow: hidden; cursor: pointer; list-style: none; margin:0; border-bottom: 2px solid #f60; padding: 10px; text-align: center; background-color: #fc6902;border-top-left-radius: 5px;border-top-right-radius: 5px; font-family: "Trebuchet MS", Verdana;font-weight: bold; }
.basket_block .left_column .tabs_basket li { display: inline-block; color: #fbcf8a; text-decoration: underline; font-size: 1em; }
.basket_block .left_column .tabs_basket li+li {margin-left: 20px;}
.basket_block .left_column .tabs_basket li:hover,.basket_block .left_column .tabs_basket li.active { text-decoration: none; color: white; font-size:1.1em;}
.basket_block .left_column .tabs_basket_content { padding: 10px; }
.basket_block .left_column .tabs_basket_content .messages{padding-bottom: 10px; color:#F00;}
.basket_block .left_column .tabs_basket_content .tabs_item {display: none}
.basket_block .left_column .tabs_basket_content .tabs_item.active {display: block}
.basket_block .left_column .tabs_basket_content .tabs_item .block_text { background: #fc6902; padding: 10px; margin-bottom: 10px; position: relative; }
.basket_block .left_column .tabs_basket_content .tabs_item .block_text .close { padding: 0; margin: 0; background: transparent; border: 0; outline: 0; position: absolute; right: 5px; top: 5px; font-weight: bold; color: #fff; font-size: 16px; cursor: pointer; }
.basket_block .left_column .tabs_basket_content .tabs_item .block_text .title { font-size: 16px; color: #fff; margin-bottom: 10px; font-weight: bold; }
.basket_block .left_column .tabs_basket_content .tabs_item .block_text .desc { font-size: 12px; color: #fff; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click {}
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click label { display: block; margin-bottom: 5px; font-size: 16px; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click label span { font-size: 12px; color: #212121; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input { width: 100%; height: 30px; border: 1px solid #ddd; box-sizing: border-box; padding: 0 10px; margin-bottom: 10px;  border-radius: 3px;  font-style:italic;}
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click .required { border: 2px solid gray; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input:focus { border: 1px solid #fc6902; }
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input[type=submit] { cursor: pointer; background: #1d8c1a; font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1.2em; border: 0; border-radius: 5px; color: #fff; width: 50%; float: right; transition: all 0.5s;}
.basket_block .left_column .tabs_basket_content .tabs_item .buy_for_click input[type=submit]:hover { background: #e46003; }
.basket_block .left_column .tabs_basket_content .tabs_item .iagree { font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 0.9em;padding-top: 40px;padding-left: 15px;padding-bottom: 15px;padding-right: 15px;color: gray; }
.basket_block .left_column .tabs_basket_content .tabs_item .iagree a:link { color: silver;font-weight: bold; }
.basket_block .left_column .tabs_basket_content .tabs_item .iagree a:visited { color: silver;font-weight: bold; }
.basket_block .left_column .tabs_basket_content .tabs_item .forgotten  { padding-top: 50px; font-size: 0.8em; padding-bottom: 16px;}

.basket_block .right_column .order_tabel { width: 100%; border-spacing: 0; }
.basket_block .right_column .order_tabel thead {}
.basket_block .right_column .order_tabel thead td { padding: 10px; background: #808080; color: #fff; text-align: center; font-weight:bold;}
.basket_block .right_column .order_tabel tbody tr { background: #fff; }
.basket_block .right_column .order_tabel tbody tr:nth-child(even) { background: #f9f9f9; }
.basket_block .right_column .order_tabel tbody tr td { padding: 10px; font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.basket_block .right_column .order_tabel tbody tr td.name_product {}
.basket_block .right_column .order_tabel tbody tr td.photo_product {}
.basket_block .right_column .order_tabel tbody tr td.photo_product img {}
.basket_block .right_column .order_tabel tbody tr td.price_product { width: 15%; text-align: center; }
.basket_block .right_column .order_tabel tbody tr td.quantity_product { width: 20%; text-align: center; }
.basket_block .right_column .order_tabel tbody tr td.del_product {text-align: center;}
.basket_block .right_column .order_tabel tbody tr td.del_product .delpos {background: #e74c3c;border: 0;color: #fff;width: 25px;height: 25px;text-align: center;line-height: 25px;border-radius: 5px;cursor: pointer; font-weight:600;transition: all 0.5s;}
.basket_block .right_column .order_tabel tbody tr td.del_product .delpos:hover {background: #c0392b;}
.basket_block .right_column .banner_phone { color: #fff; background: #fc6902; margin-top: 20px; box-sizing: border-box; padding: 10px; overflow: hidden; }
.basket_block .right_column .banner_phone .t1 { font-size: 25px; float: left; margin-right: 20px; }
.basket_block .right_column .banner_phone .t2 { font-size: 25px; font-weight: bold; float: left; }
.basket_block .right_column .banner_phone .t2 span { font-size: 25px; font-weight: normal; }
.basket_block .right_column .banner_phone .t1:after,.basket_block .right_column .banner_phone .t2:after { content: ""; clear: both; }

.thanks-block { width: 50%;padding-left: 25%; }
.thankyou {text-align: center; }
.thankyou h3 {font-size: 2.2em;}
.order-id {font-weight: bold;}
.order-callback {text-decoration: underline;}
.order-message {
    padding-top: 75px;
    font-style: italic;
    font-size: 1.4em;
    text-align: center;
    line-height: 1.6em;
}
.notice {
    font-size: 0.9em;
    font-style: italic;
    color: gray;
    margin-top: 20px;
}
.agreementForm {
    font-size: 1em;
}

.simplemodal-overlay {
    background-color:gray; /* Тут выбираем цвет затемнения */
    cursor:wait; /* Курсор при наведении на затемненную область */
    filter: alpha(opacity=80); /* Интенсивность затемнения */
    height: 100%;
    width: 100%;
}

#simplemodal-container-order-reg, #simplemodal-container-order-agr {
    min-height:500px;  /* Для растягивания по высоте */
    height:auto;
    width:50%;
    left:25%; /*в купе с margin-left, которая равна минус половине ширины центруют по горизонтали*/
    top:50%;  /*центрует по вертикали, вместе с margin-top, если задать высоту*/
    /*margin-left:-150px;*/
    /* margin-top: -70px; */
    background-color:#fff;
    border:3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.companyProfile {
    margin: 12px;
    padding: 16px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #fec27c;
}
.address, .companyName {
    font-weight:bold;
}

.agreeText {
    font-size: 0.9em;
}
.invite {
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    padding-bottom: 12px;
}
.invite a:link  {
    color:orangered;
    font-weight:bold;
    text-decoration: dotted;
}

.regTitle {
    text-align: center;
    font-size: 1.4em;
    color: orangered;
    font-family: "Trebuchet MS", Impact, Helvetica, Lucida;
    font-weight: bold;
    padding-top: 25px;
}

.regList {
    list-style-type: none;
    line-height: 1.6em;
    font-size: 0.9em;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:gray;
}
.regReasonBullet {
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
}
.regFooter {
    text-align: center;
    font-style: italic;
    font-size:1.2em;
}
.regFooter a:link a:visited {
    color:orangered;
}

.cart-total-text {
    text-align: right;
    font-style: italic;
    font-weight: bold;
}
.cart-total-sum {
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
}
.cart-notice {
    font-size: 0.8em;
    text-align: right;
}

.cart-empty h3 {
    text-align: center;
    padding-top: 55px;
    font-size: 2.6em;
}
.cart-sorry {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: gray;
    font-size: 1.8em;
}



.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

#dialog-confirm {display: none;}

.product_hint {
float:right;
font-size: 10px;
color: gray;
}
.minprice_order_block {
    font-size: 0.9em; font-family: "Trebuchet MS", Impact, Helvetica, Lucida;
}
.order_need_amount {
    font-weight: bold;
    color: brown;
}