.catalog-price {
	 color:red;
}
.no-active-block {
    width: 672px;
    height: 71px;
    background: no-repeat url(/images/no-active-bg.png);
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

.no-active-block a {
    display: block;
    margin-top: 5px;
    color: #cc6600;
    text-decoration: underline;
}

.gallery .panel {
    border: 1px solid #FF6600;
    padding: 9px 10px;
}