table.form-table
{
	width:100%;
	
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #aca39a;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background:#f2ab25;
	
	text-align: left;
	color:#000000;
}


table.form-table td
{
	padding: 5px 5px;

}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}