/*Table*/
table.table-basket-line
{
	padding:0px;
	font-size:12px;
}

.basket-line-personal, .basket-line-basket
{
	width:16px; height:16px; background-repeat:no-repeat; display:block;
}
.basket-link
{
	color:#ffffff;
}

.basket-line-personal {background-image: url(/images/ico_03.png); width:21px; height:21px;}
.basket-line-basket {background-image: url(/images/ico_02.png); width:21px; height:21px;}