/*Table*/
table.sale_basket_basket
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	font-size:12px;
}

/*Table head*/
table.sale_basket_basket th
{
	
	text-align: left;
	color:#000000;
}

/* Table cells and heads*/
table.sale_basket_basket th, table.sale_basket_basket td
{
	border:1px solid #aca39a;
	padding: 3px 5px;
	vertical-align:top;
}