.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding: 5px;
}
.items_table th{
     white-space: inherit;
 }
.items_table td{
    text-align: center;
}
.items_table
{
    border-collapse: collapse;
}
.items_table th,
.items_table td{
    border: 1px solid #ccc;
}


.in-basket-yet{
    right: -30px!important;
}
.complect-table__last-td {
    border-right: 1px solid #ccc !important;
}