.catalog-price {
	 color:red;
}

.complect-table{border-collapse:collapse;}
.complect-table th,.complect-table td{
	border:1px solid #ccc;
    border-right: 1px solid rgba(204, 204, 204, 0.2);
    border-left: 0;
	padding:5px 5px;
}
.complect-table th {
}
.complect-table__first-th {
    text-align: left;
}
.complect-table th{white-space:nowrap;}
.complect-table td{vertical-align:middle;}
.complect-table td.td-name{padding-right:20px;}
.complect-table td.td-ed{text-align:center;}
.complect-table td.td-price{white-space:nowrap;text-align:right;}

.a-in-basket{padding-top:3px; display:block;}
.complect-table__last-td {
    border-right: 0 !important;
}
