.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

.noted .note:before{
	left: -10px;
}
.noted .note {
	position: static;
	display: block;
	margin-left: 0px !important;
}
.complect-table__last-td {
    border-right: 1px solid #ccc !important;
}