.action-messages {
    display:block;
    width: 98%;
    padding: 10px;
    border-radius: 3px;
    background: #fbfbfb;
    border: 1px solid silver;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif, Impact;
    font-size:1em;
    text-align: center;
    color: crimson;
}

.action .register { padding: 0px;}
.action .middle {}
.action h2 { text-align: right; font-family: 'Open Sans Condensed', sans-serif, Impact; font-size:2em;}
.action .form-header {
    list-style-type: none;
    margin: 0;
    border-bottom: 2px solid #f60;
    padding: 10px;
    text-align: center;
    background-color: #fc6902;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif, Impact;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
.action .label {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 1.2em;
    font-family: "Trebuchet MS", Verdana;
}
.action input {
    border: 2px solid gray;
    width: 100%;
    height: 30px;
    text-indent: 12px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-style: italic;
}
.action .form-content {     padding: 10px;  padding-right: 45px;}
.action .form-content ul { list-style-type: none;}
.action input[type=submit] { cursor: pointer; background: #1d8c1a; font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1.2em; border: 0; border-radius: 5px; color: #fff; width: 50%; float: right; transition: all 0.5s;}
.action .form-header label {min-width: 200px; text-align: right; padding-right: 10px;}

.action .left_column .iagree { font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 0.9em;padding-top: 40px;padding-left: 15px;padding-bottom: 15px;padding-right: 15px;color: gray; }
.action .left_column .iagree a:link { color: silver;font-weight: bold; }
.action .left_column .iagree a:visited { color: silver;font-weight: bold; }

.agreementForm {
    font-size: 1em;
}

.simplemodal-overlay {
    background-color:gray; /* Тут выбираем цвет затемнения */
    cursor:wait; /* Курсор при наведении на затемненную область */
    filter: alpha(opacity=80); /* Интенсивность затемнения */
    height: 100%;
    width: 100%;
}

.simplemodal-container {
    min-height:500px;  /* Для растягивания по высоте */
    height:auto;
    width:50%;
    left:25%; /*в купе с margin-left, которая равна минус половине ширины центруют по горизонтали*/
    top:50%;  /*центрует по вертикали, вместе с margin-top, если задать высоту*/
    /*margin-left:-150px;*/
    /* margin-top: -70px; */
    background-color:#fff;
    border:3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.companyProfile {
    margin: 12px;
    padding: 16px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #fec27c;
}
.address, .companyName {
    font-weight:bold;
}

.agreeText {
    font-size: 0.9em;
}

.action .middle ul { list-style: none; padding: 0px;}
.action .middle ul li { display:inline;}
.action .pagelet  { width:49%; cursor: pointer;}
.action .right { float: right; }
.action .right_column { width:49%; float:right;}
.action .right_column .pagelet  { width:100%; }
.action .left_column { width:49%; float: left; box-sizing: border-box; border: 1px solid #FF6600; border-radius: 10px; }
.action .pull-right {vertical-align: top; float: right;}