.message-hours {
	display:block;
	width: 98%;
	padding: 10px;
	border-radius: 3px;
	background: #fbfbfb;
	border: 1px solid silver;
	margin-bottom: 10px;
	font-family: "Trebuchet MS", Impact, Helvetica, Lucida;
	font-size:1em;
}

.pull-right {
	float: right;
}

.announce-order {
	font-weight: bold;
	font-family: "Trebuchet MS", Impact, Helvetica, Lucida;
	font-size: 1.2em;
	color: #fc6902;
	margin-bottom: 5px;
}