
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-regular.eot');
  src: url('alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),url('alsrubl-arial-regular.woff') format('woff'), url('alsrubl-arial-regular.ttf') format('truetype'), url('alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-italic.eot');
  src: url('alsrubl-arial-italic.eot?#iefix') format('embedded-opentype'), url('alsrubl-arial-italic.woff') format('woff'), url('alsrubl-arial-italic.ttf') format('truetype'), url('alsrubl-arial-italic.svg#ALSRublArialItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-bold.eot');
  src: url('alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'), url('alsrubl-arial-bold.woff') format('woff'), url('alsrubl-arial-bold.ttf') format('truetype'), url('alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-bolditalic.eot');
  src: url('alsrubl-arial-bolditalic.eot?#iefix') format('embedded-opentype'), url('alsrubl-arial-bolditalic.woff') format('woff'), url('alsrubl-arial-bolditalic.ttf') format('truetype'), url('alsrubl-arial-bolditalic.svg#ALSRublArialBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

/*
  ХТМЛ: 100 <span class="b-rub">Р</span>
  Если вам нужен рубль в нескольких шрифтах, используйте .b-rub_arial, вместо .b-rub
*/
.b-rub, .b-rub_arial {
  font-family: 'ALSRubl-Arial', Arial, sans-serif;
  line-height: normal;
}

input[type="radio"] {
    vertical-align: text-bottom; }
input[type="checkbox"] {
    vertical-align: middle;
    padding: 0;
    /*vertical-align: bottom;*/
    /**vertical-align: baseline;*/
}
form, fieldset {
    margin:0;
    padding:0;
    border:none;}
textarea {
    margin: 0;
    outline: none;
    overflow: auto;
    resize: vertical;
    white-space:pre !important;}
input {
    margin: 0;
    outline: none;}
select {
    font-size: 1em;}
.nav, .menu, .level, .list, .breadcrumbs, .paging {
    margin: 0;
    padding: 0;
    list-style: none;}
p {
    margin:0 0 20px;}
h1 {
    font: 18px Arial, sans-serif;
    color: #cc6600;
    margin: 0 0 32px;}
h2 {
    font: 18px Arial, sans-serif;
    color: #000;
    margin: 0 0 14px;}
.catalog{
    font: 18px Arial, sans-serif;
    color: #cc6600;
    margin: 0 0 32px;}
h2.alt0 {
    margin: 0;
    color: #fff;
    text-shadow: #d65c06 1px 1px 0;
	cursor: pointer;
	}
h3 {
    font: bold 16px/1.2 Arial, sans-serif;
    margin: 0 0 22px;}
h3.alt0 {
    margin: 0;}
h3.alt1 {
    color: #ff3300;}
h4 {
    font: 14px Arial, sans-serif;
    margin: 0 0 4px;}
h4.alt0 {
    color: #999999;
    margin: 0 0 18px;
    padding-left: 38px;
    position: relative;}

h4.alt0:before {content: '';
    position: absolute;
    left: 0;
    top: 58%;
    height: 1px;
    width: 31px;
    background: #d2d1d1;}

h5 {
    font: 12px Arial, sans-serif;
    color: #000;
    margin: 0 0 2px;}
h5.alt0 {
    color: #666;
    margin: 0;}
h6 {
    font: 11px Arial, sans-serif;
    margin: 0 0 4px;}
html {
    overflow-y: scroll;}
@media all and (min-width:0) {
    html { overflow-y: visible\0/; }  /* IE9 */
}
body {
	font: normal 14px/17px Arial, sans-serif;
	color: #333333;
	margin: 0;
	padding: 0;
    background: #fff url("../img/bg1.jpg");}
html, body {
    height:100%;}
img {
    border:none;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;}
.bold {
    font-weight: bold;}
.clear {
    clear: both;}
.noMrg {
    margin: 0 !important;}
.fontIncreased {
    font-size: 16px;}
.fontReduced {
    font-size: 12px;}
/*==================================================================*/
a:link, a:visited {text-decoration:underline;color:#333333;}
a:hover, a:focus {text-decoration:none;color:#333333;}

.link0 a:link, .link0 a:visited { border-bottom: 1px solid rgba(255, 51, 0, 0.35);  text-decoration:none;color:#ff3300;}
        
.link0 a:hover, .link0 a:focus {text-decoration:none;color:#cc3300;}
.link1 a:link, .link1 a:visited {text-decoration:none;color:#333333;}
.link1 a:hover, .link1 a:focus {text-decoration:none;color:#ff3300;}
.link2 a:link, .link2 a:visited {text-decoration:none;color:#333333;
    border-bottom: 1px dashed #333333;
    zoom: 1;}
.link2 a:hover, .link2 a:focus {text-decoration:none;color:#333333;
    border-bottom-color: transparent;}
.link3 a:link, .link3 a:visited {text-decoration:underline;color:#333333;}
.link3 a:hover, .link3 a:focus {text-decoration:underline;color:#000;}
.link4 a:link, .link4 a:visited {text-decoration:none;color:#ff3300;
    border-bottom: 1px dotted #ff3300;}
.link4 a:hover, .link4 a:focus {text-decoration:none;color:#ff3300;
    border-bottom-color: transparent;}

.r-border-shape {
    position: relative;}
.item .r-border-shape {
    *zoom: 1;}
.r-border-shape .tb, .r-border-shape .bb {
	position:relative;
	overflow:hidden;}
.r-border-shape .cn {
	position:relative;
	overflow:hidden;
	background: url(../img/dec-r.png) no-repeat;}
.r-border-shape .cn.r{
	position:absolute;
	margin-left:100%;}
.r-border-shape .bb .cn {}
body .r-border-shape .cn.l {
	width:auto;}
.r-border-shape .d {
    position: absolute;
    z-index: 0;}
.r-border-shape .cnt {
    position: relative;
    z-index: 1;}
.r-border-shape .dl,
.r-border-shape .dr {
    overflow: hidden;
    top: 0;
    bottom: 0;
    background: url(../img/dec-d.png) 0 0 repeat-y;}
.r-border-shape .dl i,
.r-border-shape .dr i {
    position: absolute;
    width: 100%;
    height: 100%;
    /*bottom: 0;*/
    background: url(../img/dec-d.png) 0 0 repeat-y;
    display: none;}

.block0 .r-border-shape .tb,
.block0 .r-border-shape .bb {
	height:40px;/*real height*/}
.block0 .r-border-shape .cn {
	width:40px;/*real width*/
	height:174px/*actual sprite height*/;
    background-position: 0 -56px;}
.block0 .r-border-shape .cn.r {
	left:-40px/*real corner width*/;
	top:-44px/*actual corner height + gap*/;
    background-position: -2px -56px/*left background-position = actual corner height - real corner height*/;}
.block0 .r-border-shape .bb .cn {
	margin-top:-90px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block0 .r-border-shape .cn.l {
	margin-right:40px/*real corner width*/;}
.block0 .cnt {
    margin: 0 29px -16px;
    top: -8px;
    padding: 1px 3px;
    min-height: 96px;
    background: #fbf6f3 url("../img/r1g.png") 0 0 repeat-x;}
.block0 .dl, .block0 .dr {
    width: 31px;
    margin: 40px 0;
    background: url(../img/dec-d_g.png) 0 0 no-repeat;}
.block0 .dl {
    left: 0;
    background-position: 0 0;}
.block0 .dr {
    right: 0;
    background-position: -33px 0;}

.block0 .dl i,
.block0 .dr i {
    display: block;
    margin-top: 96px;}
.block0 .dl i {
    background-position: 0 0;}
.block0 .dr i {
    background-position: -33px 0;}


.block1 {
    padding: 1px;}
.block1 .block-wrap {
    background: #fff;}
.block1 .r-border-shape {
    margin: -1px;}
.block1 .r-border-shape .tb,
.block1 .r-border-shape .bb {
	height:13px;/*real height*/}
.block1 .r-border-shape .cn {
	width:13px;/*real width*/
	height:66px/*actual sprite height*/;
    background-position: 0 -232px;}
.block1 .r-border-shape .cn.r {
	left:-13px/*real corner width*/;
	top:-17px/*actual corner height + gap*/;
    background-position: -2px -232px/*left background-position = actual corner height - real corner height*/;}
.block1 .r-border-shape .bb .cn {
	margin-top:-36px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block1 .r-border-shape .cn.l {
	margin-right:13px/*real corner width*/;}
.block1 .cnt {
    top: auto;
    margin: 0 13px;
    padding: 0;
    min-height: 0;
    background: none;}
.block1 .dl,
.block1 .dr {
    background: none;
    width: 15px;
    margin: 13px 0;}
.block1 .dl {
    left: 0;}
.block1 .dr {
    right: 0;}

.block1 .dl i,
.block1 .dr i {
    display: block;
    margin-top: 0;}
.block1 .dl i {
    background-position: -66px 0;}
.block1 .dr i {
    background-position: -83px 0;}

.block1 .input {
    margin: -12px -14px;
    *margin: -13px -14px;
    *display: inline;}
.block1 .input,
.block1 .r-border-shape {
    *zoom: 1;}

.block2 .r-border-shape .tb,
.block2 .r-border-shape .bb {
	height:10px;/*real height*/}
.block2 .r-border-shape .cn {
	width:10px;/*real width*/
	height:54px/*actual sprite height*/;
    background-position: 0 0;}
.block2 .r-border-shape .cn.r {
	left:-10px/*real corner width*/;
	top:-14px/*actual corner height + gap*/;
    background-position: -2px 0/*left background-position = actual corner height - real corner height*/;}
.block2 .r-border-shape .bb .cn {
	margin-top:-30px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block2 .r-border-shape .cn.l {
	margin-right:10px/*real corner width*/;}
.block2 .cnt {
    zoom: 1;
    margin: 0;
    padding: 0 10px;
    background: #f9f9f9;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;}
.block2 .dl,
.block2 .dr {
    display: none;}
.block2 .dl i,
.block2 .dr i {
    display: none;}

.block3 {
    margin: -3px -3px 0;
    width: 678px;}
.block3 .r-border-shape .tb,
.block3 .r-border-shape .bb {
	height:13px;/*real height*/}
.block3 .r-border-shape .cn {
	width:13px;/*real width*/
	height:66px/*actual sprite height*/;
    background-position: 0 -300px;}
.block3 .r-border-shape .cn.r {
	left:-13px/*real corner width*/;
	top:-17px/*actual corner height + gap*/;
    background-position: -2px -300px/*left background-position = actual corner height - real corner height*/;}
.block3 .r-border-shape .bb .cn {
	margin-top:-36px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block3 .r-border-shape .cn.l {
	margin-right:13px/*real corner width*/;}
.block3 .cnt {
    margin: 0 11px;
    padding: 9px 11px;
    min-height: 172px;
    background: #f6f3f1 url("../img/r3g.png") 0 0 repeat-x;}
.block3 .dl,
.block3 .dr {
    width: 13px;
    margin: 13px 0;
    background: url(../img/dec-d_g.png) 0 0 no-repeat;}
.block3 .dl {
    left: 0;
    background-position: -66px 0;}
.block3 .dr {
    right: 0;
    background-position: -81px 0;}

.block3 .dl i,
.block3 .dr i {
    display: block;
    margin-top: 190px;}
.block3 .dl i {
    background-position: -100px 0;}
.block3 .dr i {
    background-position: -115px 0;}

.block4 {
    margin: 0 -2px 0 0;}
.block4 .r-border-shape .tb,
.block4 .r-border-shape .bb {
	height:4px;/*real height*/}
.block4 .r-border-shape .cn {
	width:4px;/*real width*/
	height:30px/*actual sprite height*/;
    background-position: 0 -368px;}
.block4 .r-border-shape .cn.r {
	left:-4px/*real corner width*/;
	top:-8px/*actual corner height + gap*/;
    background-position: -2px -368px/*left background-position = actual corner height - real corner height*/;}
.block4 .r-border-shape .bb .cn {
	margin-top:-18px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block4 .r-border-shape .cn.l {
	margin-right:4px/*real corner width*/;}
.block4 .cnt {
    margin: 0 3px;
    padding: 4px 10px 6px 16px;
    min-height: 14px;
    background: #f4f4f4 url("../img/r4g.png") 0 0 repeat-x;}
.block4 .dl,
.block4 .dr {
    background: none;
    width: 5px;
    margin: 4px 0;}
.block4 .dl {
    left: 0;}
.block4 .dr {
    right: 0;}
.block4 .dl i,
.block4 .dr i {
    display: block;
    margin-top: 0;}
.block4 .dl i {
    background-position: -130px 0;}
.block4 .dr i {
    background-position: -137px 0;}

.block4 .block-m {
    position: absolute;
    z-index: 2;
    width: 9px;
    top: -3px;
    bottom: -3px;
    left: -4px;
    background: url("../img/dec-d_g.png") -96px 0 no-repeat;}
.block4 .block-m i {
    position: absolute;
    width: 100%;}
.block4 .block-m .m0 {
    top: 31px;
    bottom: 3px;
    background: url(../img/dec-d.png) -144px 0 repeat-y;}
.block4 .block-m .m1 {
    bottom: 0;
    height: 3px;
    background: url("../img/dec-d_g.png") -106px -31px no-repeat;}

.block5 {
    width: 222px;
    padding-bottom: 30px;
    position: relative;}
.block5 .bct,
.block5 .bcb,
.block5 .bcc {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 222px;
    height: 77px;
    background: url(../img/rc0.png) 0 0 no-repeat;}
.block5 .bcb {
    top: auto;
    bottom: 0;
    background-position: 0 100%;}
.block5 .bcc {
    height: auto;
    top: 77px;
    bottom: 77px;
    background: url(../img/rc0bg.png) 0 0 repeat-y;}
.block5 .block-inner {
    min-height: 116px;
    padding: 4px;
    position: relative;
    z-index: 1;}

.block6 .r-border-shape .tb,
.block6 .r-border-shape .bb {
	height:5px;/*real height*/}
.block6 .r-border-shape .cn {
	width:5px;/*real width*/
	height:34px/*actual sprite height*/;
    background-position: 0 -400px;}
.block6 .r-border-shape .cn.r {
	left:-5px/*real corner width*/;
	top:-9px/*actual corner height + gap*/;
    background-position: -2px -400px/*left background-position = actual corner height - real corner height*/;}
.block6 .r-border-shape .bb .cn {
	margin-top:-20px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block6 .r-border-shape .cn.l {
	margin-right:5px/*real corner width*/;}
.block6 .cnt {
    margin: 0 2px;
    padding: 1px 8px;
    min-height: 13px;
    background: #f7f5f4 url("../img/r5g.png") 0 0 repeat-x;}
.block6 .dl,
.block6 .dr {
    width: 4px;
    margin: 5px 0;
    background: url(../img/dec-d_g.png) 0 0 no-repeat;}
.block6 .dl {
    left: 0;
    background-position: -118px 0;}
.block6 .dr {
    right: 0;
    background-position: -124px 0;}

.block6 .dl i,
.block6 .dr i {
    display: block;
    margin-top: 15px;}
.block6 .dl i {
    background-position: -156px 0;}
.block6 .dr i {
    background-position: -162px 0;}

.block7 {
    width: 672px;}
.block7 .r-border-shape .tb,
.block7 .r-border-shape .bb {
	height:10px;/*real height*/}
.block7 .r-border-shape .cn {
	width:10px;/*real width*/
	height:54px/*actual sprite height*/;
    background-position: 0 -436px;}
.block7 .r-border-shape .cn.r {
	left:-10px/*real corner width*/;
	top:-14px/*actual corner height + gap*/;
    background-position: -2px -436px/*left background-position = actual corner height - real corner height*/;}
.block7 .r-border-shape .bb .cn {
	margin-top:-30px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block7 .r-border-shape .cn.l {
	margin-right:10px/*real corner width*/;}
.block7 .cnt {
    margin: 0 2px;
    padding: 6px 18px;
    min-height: 118px;
    background: #ebeaea url("../img/r6g.png") 0 0 repeat-x;}
.block7 .dl,
.block7 .dr {
    width: 4px;
    margin: 10px 0;
    background: url(../img/dec-d_g.png) 0 0 no-repeat;}
.block7 .dl {
    left: 0;
    background-position: -130px 0;}
.block7 .dr {
    right: 0;
    background-position: -136px 0;}

.block7 .dl i,
.block7 .dr i {
    display: block;
    margin-top: 130px;}
.block7 .dl i {
    background-position: -168px 0;}
.block7 .dr i {
    background-position: -174px 0;}

.block8 .r-border-shape .tb,
.block8 .r-border-shape .bb {
	height:10px;/*real height*/}
.block8 .r-border-shape .cn {
	width:10px;/*real width*/
	height:54px/*actual sprite height*/;
    background-position: 0 -492px;}
.block8 .r-border-shape .cn.r {
	left:-10px/*real corner width*/;
	top:-14px/*actual corner height + gap*/;
    background-position: -2px -492px/*left background-position = actual corner height - real corner height*/;}
.block8 .r-border-shape .bb .cn {
	margin-top:-30px/*half height of sprite + half gap + (actual corner height - real corner height)*/;}
.block8 .r-border-shape .cn.l {
	margin-right:10px/*real corner width*/;}
.block8 .cnt {
    margin: 0 2px;
    padding: 1px 22px;
    min-height: 265px; /**/
    background: #fbfbfb url("../img/r7g.png") 0 100% repeat-x;
	/*height: 265px;*/} /**/
.filter-cont {
	/*overflow-x: hidden;
    overflow-y: auto;*/
	/*height: 215px;*/ /**/
	width: 645px;
} /**/

.block8 .dl,
.block8 .dr {
    width: 4px;
    margin: 10px 0;
    background: url(../img/dec-d_g.png) 0 0 no-repeat;}
.block8 .dl {
    left: 0;
    background-position: -142px 0;}
.block8 .dr {
    right: 0;
    background-position: -148px 0;}

.block8 .dl i,
.block8 .dr i {
    display: block;
    margin-top: 130px;}
.block8 .dl i {
    background-position: -180px 0;}
.block8 .dr i {
    background-position: -186px 0;}

.block9 {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;}

.wrapper {
    position: relative;
	max-width: 6000px;
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
    height: auto !important;
    min-height: 100%;
    background: url(../img/bg0a.png) 0 0 repeat-x;}
.inner {
    width: 960px;
	margin: 0 auto;}
.content {
    padding: 0 0 285px;}
.leftCol {
    width: 220px;
    float: left;}
.rightCol {
    width: 672px;
    float: right;}
.header {
    *position: relative;
    *z-index: 99;
    padding: 12px 0 20px;
    margin-bottom: 8px;
    background: url(../img/bg2.jpg) 50% 0 no-repeat;}
.footer {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 200px;
    padding-top: 1px;}
.footer .inner {
    padding: 0 0 0 16px;}
.footer a.alt {
    text-decoration: none;}
.footerL {
    float: left;
    width: 690px;}
.footerR {
    float: right;
    width: 238px;}
.design {
    padding-top: 3.3em;
    text-align: right;}
.design a {}
.sitemap {
    text-align: right;
    font-size: 12px;}
.sitemap a {
    color: #ff3300;}
.copytight {}
.footerTop {
    height: 60px;
    background: #efefef url("../img/hl0.png") 0 0 repeat-x;
    border-bottom: 1px solid #d1d1d1;}
.footerBot {
    padding-top: 40px;
    height: 94px;
    background: url("../img/g0.png") 0 0 repeat-x;
    font: 14px/1.2 'Tahoma';}


.customSelect {}
.input input, .input textarea {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    background: none;
    padding: 5px 10px;
    color: #333333;
    font: 12px/1.2 arial;
    display: block;
    vertical-align: top;}
.input1 input,
.input1 textarea {
    height: 26px;
    *height: 14px;
    *padding: 3px 10px 7px;
    font-size: 14px;}
.in {*overflow: hidden;}
.input textarea {
    padding-right: 0;}
.inputHinted {
    position: relative;}
.hint {
    padding: 5px 10px;
    color: #666666;
    font: 12px/1.3 arial;
    position: absolute;
    z-index: 1;
    cursor: text;}
.hint.hidden {
    display: none;}
.input2 input,
.input2 textarea {
    padding: 4px 10px;
    font-size: 14px;}

.input3 {
    border: 1px solid #dfdede;
    display: inline-block;
    background: url(../img/input0.png) 0 0 no-repeat;}
.input3 input,
.input3 textarea {
    text-align: right;
    padding: 2px 3px;
    *padding-left: 0;
    color: #000;}
.input3 textarea {
    text-align: left;}
.width0 {
    width: 282px;}
.width1 {
    width: 50px;}

.panel {
    position: relative;
    zoom: 1;
    background: url(../img/dec-p.png) 0 0 no-repeat;}
.panel-content {
    zoom: 0;
    background: none;}
.panel .helper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: url(../img/dec-p.png) 0 0 no-repeat;}
.panel-cont {
    position: relative;}
.panel0 {
    background-position: 100% -241px;}
.block5  {
    margin-top: 18px;}
.block5 .panel0 {
    margin: -22px -22px -6px -7px;
    padding: 7px 22px 0 25px;}
.panel0 .helper {
    right: 25px;
    background-position: 0 -198px;}
.panel0 .panel-cont {
    height: 35px;
    white-space: nowrap;
    overflow: hidden;}

.panel1 {
    margin: -3px;
    padding: 10px 24px 10px 19px;
    background-position: 100% -902px;}
.panel1 .helper {
    right: 27px;
    background-position: 0 -850px;}
.panel1 .panel-cont {
    height: 31px;
    white-space: nowrap;}

.panel2 {
    padding: 3px 8px 3px;
    background-position: 100% -431px;}
.panel2 .helper {
    right: 5px;
    background-position: 0 -408px;}
.panel2 .panel-cont {
    height: 1.2em;
    overflow: hidden;
    color: #000;}
.panel2 .panel-cont * {
    white-space: nowrap;}

.back a:link, .back a:visited {
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-shadow: #f9b17b 1px 1px 0;}
.back a:hover, .back a:focus {
    color: #2d1600;}
.back a:active {
    color: #7c3302;}
.panel3 {
    padding: 3px;
    background-position: 100% -1366px;}
.panel3 .helper {
    right: 75px;
    background-position: 0 -1337px;}
.panel3 .panel-cont {
    font-size: 12px;}
.back .panel3 .panel-cont {
    padding: 3px 18px 3px 24px;
    text-decoration: none;}
.back a:link .panel3 {
    z-index: -1;
    position: relative;}
.back a:visited .panel3 {}
.back a:hover .panel3,
.back a:focus .panel3 {
    background-position: 100% -1424px;}
.back a:active .panel3 {
    background-position: 100% -1482px;}

.back a:link .panel3 .helper {}
.back a:visited .panel3 .helper {}
.back a:hover .panel3 .helper,
.back a:focus .panel3 .helper {
    background-position: 0 -1395px;}
.back a:active .panel3 .helper {
    background-position: 0 -1453px;}




.button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    background: url(../img/dec-p.png) 0 0 no-repeat;}
.button button {
    width: auto;
    cursor: pointer;
    font: 15px 'arial' !important;
    margin: 0;
    overflow: visible;
    height: 26px;
    border: none;
    color: #272727;
    text-shadow: #f8c099 1px 1px 1px;
    white-space: nowrap !important;
    position: relative;
    vertical-align: top;
    padding: 0 20px;
    background: none;
    display: block;
    text-align: center;}
.button .helper {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    background: url(../img/dec-p.png) 0 0 no-repeat;}

.button .button-txt,
.button button i {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;}
.button0 {
    padding: 3px;
    background-position: right -33px;}
.button0 .helper {
    right: 16px;
    background-position: 0 0;}
.button0 button i {
    display: none;}
.button0 button {}
.button0.active button i {}
.button0.active button {
    color: #ffd8bf;}
.button0.hover, .button0.focus {
    background-position: right -99px;}
.button0.hover button, .button0.focus button {
    text-shadow: #f8ba8f 1px 1px 1px;;
    color: #000;}
.button0.hover .helper, .button0.focus .helper {
    background-position: 0 -66px;}
.button0.active {
    background-position: right -165px;}
.button0.active .helper {
    background-position: 0 -132px;}
.button0.active button {
    text-shadow: #f39a72 1px 1px 1px;;
    color: #903d02;}

.button1 {
    padding: 0;
    background: none;
    border-bottom: 1px dotted #fff;}
.button1 .helper {
    right: 16px;
    background: none;}
.button1 button i {
    display: none;}
.button1 button {
    text-shadow:none;
    color: #fff;
    padding: 0;
    line-height: 1.2;
    height: 1.2em;}
.button1.hover, .button1.focus {
    border-bottom-color: transparent;}
.button1.hover button, .button1.focus button {
    color: #fff;}
.button1.hover .helper, .button1.focus .helper {}
.button1.active {}
.button1.active .helper {}
.button1.active button {
    color: #fff;}
.button1.active button i {}

.button2 {
    padding: 3px;
    background-position: right -487px;}
.button2 .helper {
    right: 19px;
    background-position: 0 -454px;}
.button2 button i {
    display: none;}
.button2 button {
    padding: 0 30px;
    color: #282828;
    text-shadow: #fdfcfc 1px 1px 0;}
.button2.hover, .button2.focus {
    background-position: right -553px;}
.button2.hover button, .button2.focus button {
    color: #010101;}
.button2.hover .helper, .button2.focus .helper {
    background-position: 0 -520px;}
.button2.active {
    background-position: right -619px;}
.button2.active .helper {
    background-position: 0 -586px;}
.button2.active button {
    color: #666666;}
.button2.active button i {}

.button3 {
    padding: 3px;
    background-position: right -685px;}
.button3 .helper {
    right: 19px;
    background-position: 0 -652px;}
.button3 button i {
    display: none;}
.button3 button {
    padding: 0 24px;
    color: #666666;
    text-shadow: #fdfcfc 1px 1px 0;}
.button3.hover, .button3.focus {
    background-position: right -751px;}
.button3.hover button, .button3.focus button {
    color: #010101;}
.button3.hover .helper, .button3.focus .helper {
    background-position: 0 -718px;}
.button3.active {
    background-position: right -817px;}
.button3.active .helper {
    background-position: 0 -784px;}
.button3.active button {
    color: #606060;}
.button3.active button i {}

.button4 {
    padding: 3px;
    background-position: -951px -98px;}
.button4 .helper {
    right: 18px;
    background-position: 0 -65px;}
.button4 button i {
    vertical-align: middle;
    width: 34px;
    height: 22px;
    background: url(../img/i6.png) 0 0 no-repeat;}
.button4 button {
    padding: 0 5px 0 7px;
    height: 28px;
    text-shadow: #fff 1px 1px 1px;}
.button4.hover, .button4.focus {
    background-position: -950px -164px;}
.button4.hover button, .button4.focus button {}
.button4.hover .helper, .button4.focus .helper {
    background-position: 0 -131.5px;}
.button4.hover button i, .button4.focus button i {
    background-position: -52px 0;}
.button4.active {
    background-position: -951px -163.2px;}
.button4.active .helper {
    background-position: 0 -130px;}
.button4.active button {}
.button4.active button i {
    background-position: -104px 0;}

.button5 {
    padding: 0;
    background-position: right -1203px;}
.button5 .helper {
    right: 18px;
    background-position: 0 -457px;}
.button5 button i {
    vertical-align: top;
    width: 46px;
    height: 26px;
    margin-left: 10px;
    background: url(../img/i7.png) 0 0 no-repeat;}
.button5 button .button-txt {
    position: relative;
    vertical-align: top;
    top: 3px;}
.button5 button {
    padding: 0 0 0 16px;
    height: 26px;
    font-size: 15px;
    color: #595959;
    text-shadow: #fff 1px 1px 1px;}
.button5.hover, .button5.focus {
    background-position: right -1257px;}
.button5.hover button, .button5.focus button {
    color: #000;}
.button5.hover .helper, .button5.focus .helper {
    background-position: 0 -523px;}
.button5.hover button i, .button5.focus button i {
    background-position: -120px 0;}
.button5.active {
    background-position: right -1311px;}
.button5.active .helper {
    background-position: 0 -590px;}
.button5.active button {
    color: #666666;}
.button5.active button i {
    background-position: -240px 0;}

.button6 {
    padding: 3px;
    background-position: right -1551px;}
.button6 .helper {
    right: 30px;
    background-position: 0 -1512px;}
.button6 button i {
    display: none;}
.button6 button .button-txt {
    position: relative;
    vertical-align: top;
    top: 3px;}
.button6 button {
    padding: 0 30px;
    height: 32px;
    font-size: 18px !important;
    color: #494949;
    text-shadow: #f8c099 1px 1px 1px;}
.button6.hover, .button6.focus {
    background-position: right -1629px;}
.button6.hover button, .button6.focus button {
    color: #232323;}
.button6.hover .helper, .button6.focus .helper {
    background-position: 0 -1590px;}
.button6.hover button i, .button6.focus button i {
    background-position: -120px 0;}
.button6.active {
    background-position: right -1707px;}
.button6.active .helper {
    background-position: 0 -1668px;}
.button6.active button {
    color: #7c3302;}
.button6.active button i {}


/*for FireFox*/
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner { border : 0px; }
/*for IE8 */
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus { outline : none; }
input::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}
button::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}

@-moz-document url-prefix(){
    .button button {}
}

.check-b {}
.labelTxt {
    margin-left: 2px;
    /*line-height: 1;*/
    vertical-align: middle;}
.labelTxt span {}
.check0 {
    font-size: 12px;
    color: #666666;}
.check1 {
    font-size: 12px;
    color: #ff3300;}
.check1 input {
    outline: 1px solid #ff3300;}
.hmisc {
    overflow: hidden;}
.hr {
    *padding-top: .2em;
    float: right;
    margin-left: 10px;}

.img {
    font-size: 0;
    line-height: 0;
    float: left;
    margin-right: 16px;}
.img0 {
    width: 218px;}
.txt {
    overflow: hidden;}
.txt p {
    margin: 0;}
.im {
    float: left;
    margin: 0 15px 4px 0;}
.im img {
    display: block;}

.misc {
    margin-bottom: 5px;
    line-height: 1.2;}
.foot {
    margin-top: 7px;
    white-space: normal !important;}

.wrapper .foot .item {
    vertical-align: baseline;}

.date {
    font-size: 11px;
    color: #8c8c8c;}

.rounded {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;}
.crn {
    position: absolute;
    z-index: 97;
    width: 4px;
    height: 4px;
    background: url(../img/dec-c.png) no-repeat;}
.noimage .crn {
    display: none;}
.c-tl {
    top: 0;
    left: 0;
    background-position: -4px -4px;}
.c-tr {
    top: 0;
    right: 0;
    background-position: 0 -4px;}
.c-bl {
    bottom: 0;
    left: 0;
    background-position: -4px 0;}
.c-br {
    bottom: 0;
    right: 0;
    background-position: 0 0;}
.image {
    padding: 9px;
    border: 1px solid #ff6600;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
    font-size: 0;}
.image a {}
.image img {
    vertical-align: middle;}
.image0 {
    height: 138px;
    line-height: 138px;}
.image1 {
    height: 93px;
    line-height: 93px;}
.image2 {
    margin: 0;
    padding: 4px;}
.image3 {
    margin-bottom: 0;}

.image .labels,
.gap4.gal .labels {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -7px;
    font-size: 14px;}
.gap4.gal .labels { left: -6px; }
.image .labels .lab,
.image .labels .lab span,
.gap4.gal .labels .lab,
.gap4.gal .labels .lab span {
    background: url(../img/dec-p.png) 0 0 no-repeat;}
.image .labels .lab,
.gap4.gal .labels .lab {
    padding-right: 15px;
    background-position: 100% -370px;}
.image .labels .lab span,
.gap4.gal .labels .lab span {
    display: block;
    background-position: 0 -336px;
    line-height: 1.2;
    padding: 5px 12px 7px;
    min-width: 54px;
    height: 23px;
    color: #fff6ed;
    text-align: left;
    text-shadow: #ca5f0f 1px 1px 0;
    text-transform: lowercase;}

.row, .wrapper .row .row {
    white-space: nowrap;
    word-spacing: -.35em;
    letter-spacing:-.35em;}
.row .item * {
    white-space: normal;}
.wrapper .row .row .item * {
    white-space: normal;}
.row .item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    word-spacing: 0;
    letter-spacing:0;}
.wrapper .row .row .item {
    word-spacing: 0;
    letter-spacing:0;}
.item0 {
    width: 130px;
    margin-left: 25px;}
.item1 {
    width: 156px;
    margin-left: 16px;}
.item2 {
    width: 210px;}
.item3 {
    width: 140px;
    margin-left: 25px;}
.item4 {
    margin-left: 17px;}
.item5 {
    margin-left: 8px;}

.row .item:first-child,
.aligned .item:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;}

.alignedRow {
    position:relative;
    text-align:justify;
    text-align-last:justify;
    line-height: 0;}
.alignedRow .item {
    *zoom: 0;
    overflow: visible;
    display:inline-block;
    text-align: left;
    line-height: 1.4;}
.alignedRow:after { content:""; display:inline-block; width:100%; height:0; overflow:hidden;}

.aligned {
    width: 100%;
    text-align:justify;
    *text-justify:newspaper;
    white-space: normal;
    overflow: visible;
    word-spacing: 0;
    letter-spacing:0;
    line-height: 0;
    font-size: 1px;}
.aligned .under {
    display:inline-block;
    width:100%;
    height: 0;
    line-height: 0;}
.aligned .item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    position: relative;
    *position: static;
    text-align: left;
    line-height: 1.2;
    font-size: 14px;}

.row .item-v,
.aligned .item-v {
    vertical-align: middle;}
.row-a .item {
    vertical-align: baseline;}
.row-b .item {
    vertical-align: middle;}


.breadcrumbs {
    font: 12px arial;
    margin-bottom: 6px;}
.breadcrumbs a:link, .breadcrumbs a:visited {
    color: #999999;
    text-decoration: underline;}
.breadcrumbs a:hover, .breadcrumbs a:focus {
    color: #666666;
    text-decoration: underline;}
.breadcrumbs li {
    display: inline;
    line-height: 1.1;
    position: relative;
    padding-left: 16px;
    margin-left: 6px;
    background: url(../img/a1.png) 0 4px no-repeat;}
.breadcrumbs li:first-child {
    margin-left: 0;
    padding-left: 0;
    background: none;}
.breadcrumbs.single li {
    padding-right: 16px;
    background: url(../img/a1.png) 100% 4px no-repeat;}


.paging {
    overflow: hidden;
    font: 12px/1.2 Arial, sans-serif;}
.paging li {
    float: left;
    border: 1px solid #b9b8b8;
    margin-right: 3px;}
.paging a {
    display: block;}
.paging a:link, .paging a:visited {
    width: 20px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: #999999;
    outline: none;}
.paging a:hover, .paging a:focus {
    color: #000;
    background: #fed6ad;
    text-decoration: none;}
.paging .current {
    font-weight: bold;
    color: #ff3300;}
.paging .current a {
    background: none;
    color: #ff3300;
    text-decoration: none;
    cursor: default;}
.paging .more {
    border: none;
    color: #666;
    font-weight: bold;}
.paging .more a {
    color: #666;
    font-weight: bold;
    background: none;}
.paging .prev,
.paging .next {
    border: none;}
.paging .prev {
    margin-right: 4px;}
.paging .next {
    margin-left: 1px;}
.paging .prev a,
.paging .next a {
    padding: 0;
    height: 26px;
    width: 45px;
    background: url(../img/a2.png) 0 0 no-repeat;}
.paging .prev a:link, .paging .prev a:visited {
    background-position: -101px 0;}
.paging .prev a:hover, .paging .prev a:focus {
    background-position: -50px 0;}
.paging .prev a:active {
    background-position: 0 0;}
.paging .next a:link, .paging .next a:visited {
    background-position: -183px 0;}
.paging .next a:hover, .paging .next a:focus {
    background-position: -234px 0;}
.paging .next a:active {
    background-position: -284px 0;}
.paging-top {
    margin-bottom: 28px;
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;}
.paging-bot {
    margin-top: 28px;
    padding-top: 12px;
    border-top: 1px solid #cccccc;}

.table {
    border-collapse: collapse;
    width: 100%;}
.table td {
    vertical-align: top;}
.table .price {
    white-space: nowrap;}

.shift0 {
    margin-left: 45px;}
.shift1 {
    margin-left: 20px;}
.shift2 {
    margin-left: -12px;}

.hl0 {
    color: #666666;}
.hl1 {
    color: #ff3300;}
.hl2 {
    color: #663300;}
.hl3 {
    color: #000;}

.list0 li {
    margin-bottom: 8px;}
.list1 li {
    padding-left: 15px;
    margin-top: 13px !important;
    line-height: 1.2;}
.list1 li:first-child {
    margin-top: 0 !important;}
.filter .list1 li {
    white-space: nowrap;}

.list2 li {
    margin-top: 8px;
    padding-left: 16px;
    background: url(../img/m3.png) 0 2px no-repeat;}
.list2 li:first-child {
    margin-top: 0;}

.counter {}
.counter:before {content: '('}
.counter:after {content: ')'}


.price {}
.aligned .item {}
.item1 .price {
    width: 101px;
    overflow: hidden;
    white-space: nowrap;}
.item1 .price .val {
    white-space: nowrap;}
.price0 {
    font: normal 14px 'Arial'; /*18*/
    color: #ff3300;}
.price0 .val {
	font-weight: bold;} /**/
.price1 {
    font-size: 12px; /*16px*/
    color: rgba(255, 0, 0, 0.80);
    text-decoration: line-through;}
.price1 .val {
    color: #333;}

.price2 {
    font-size: 20px;
    color: #ff3300;}

.price3 {
    margin-left: 6px;
    font-size: 22px;
    *line-height: 1.2;
    color: #ff2a00;}
.price3 .val {
    font-weight: bold;}


.label0 {
    display: block;
    font-size: 12px;
    margin-bottom: 14px;}
.required:after {
    content: ' *';}




.headerL {
    width: 184px;
    padding-top: 3px;
    padding-left: 6px;
    margin-left: -6px;
    float: left;}
.headerR {
    width: 225px;
    float: right;}
.headerC {
    margin: 0 238px 0 220px;}
.contacts {
    text-align: right;}
.contacts li {
    zoom: 1;
    margin-bottom: 6px;}
.opt li {
    display: inline;
    margin: 0 0 0 12px;
    font-size: 12px;}
.opt a {
    color: #000;}
.icq, .skype {
    display: inline-block;
    padding: 1px 0 1px 20px;}
.skype {
    background: url(../img/i1.png) 0 0 no-repeat;}
.icq {
    background: url(../img/i2.png) 0 0 no-repeat;}
.phone {
    margin-bottom: -4px;
    font: bold 18px/1.2 Arial, sans-serif;
    color: #373737;}
.phone .num {
    font-size: 34px;}
.popup {
    position: relative;}
.popup .button,
.popup .trg {
    position: relative;
    z-index: 89;} /*99*/
.popup .lower {
    z-index: 97;}
.popup .pop {
    display: none;
    position: absolute;
    z-index: 98;
    top: 100%;
    right: 0;
    margin-top: -14px;}
.call .pop,
.login .pop {
    *vertical-align: baseline;
    width: 340px;
    text-align: left;}
.call {
    *z-index: 99;}
.login {
    *z-index: 98;}
.login .pop {
    margin-right: -19px;}
.row-btn {
    text-align: right;}
.nav {}
.nav li:first-child {
    margin-left: 0;}
.nav a {
    color: #000;
    font-size: 16px;}
.b-r {
    float: right;}
.b-l {
    overflow: hidden;}
.b-c {
    overflow: hidden;}
.search  {
    line-height: 0;}
.search .b-l {
    background: #fff;
    border: 1px solid #cccccc;}
.search .button {
    background: url(../img/btn0.png) 0 0 no-repeat;}
.search button {
    width: 35px;
    padding: 0;
    height: 28px;}
.basket {
    padding: 9px 0 5px 38px;
    *padding: 10px 0 6px 38px;
    color: #000;
    background: url(../img/i0.png) 0 0 no-repeat;}
.basket a:link, .basket a:visited {
    color: #000;}
.basket a:hover, .basket a:focus {
    color: #333;
    text-decoration: underline;}
.login a.trg {
    outline: none;
    /*padding: 7px 0 2px 28px;*/
	padding: 7px 0 2px 0px;
    *padding: 8px 0 3px 28px;
    color: #000;
    /*background: url(../img/i5.png) 0 0 no-repeat;*/
	}
a.forgot {
    font-size: 11px;
    color: #999999;}
.rating {
    color: #000;
    font-size: 12px;}
.rating-b {
    margin-left: 3px;}
.rating-b,
.rating-b span {
    display: inline-block;
    vertical-align: middle;}
.rating-b span {
    margin-right: -.3em;
    *margin-right: 0;
    width: 17px;
    height: 17px;
    background: url(../img/i3.png) -17px 0 no-repeat;}
.rating-b .achieved {
    background-position: 0 0;}

.personal {
    z-index: 99;
    position: relative;}
.personal .menu-m {
    display: none;
    position: absolute;
    z-index: 99;
    top: 97%;
    left: -30px;
    padding-top: 9px;
    font-size: 12px;
    white-space: nowrap;}
.personal:hover .menu-m {
    display: block;}
.personal a.trg {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #333333;}
.menu-m .list li {
    padding-right: 20px;
    margin-top: 4px;}
.menu-m .list li:first-child {
    margin-top: 0;}

.logout a {
    position: relative;
    z-index: 99;
    padding-left: 17px;
    background: url(../img/i4.png) 0 50% no-repeat;}
.search .b-l,
.input1 input {
    cursor: text;}


.menu {
    padding-top: 9px;
    border-bottom: 1px solid #f9f9f9;
    background: url(../img/bg-men.png) 0 -5px repeat-x;}
.menu li {
    border-bottom: 1px solid #d2d1d1;
    border-top: 1px solid #f9f9f9;}
.menu li:first-child {
    padding-top: 2px;
    border-top: none;
    background: url(../img/hl1.png) 0 0 repeat-x;}
.menu li.current {
    padding-top: 0;
    zoom: 1;}
.menu-alt {
    background: url("../img/g6.png") 0 0 repeat-x;}
.menu-alt li:first-child {
    background: none;}
.menu a:link, .menu a:visited {
    display: block;
    zoom: 1;
    padding: 15px 18px;
    color: #464545;
    font-weight: bold;
    text-shadow: #fefefe 1px 1px 0;
    text-decoration: none;
    background: url(../img/bg-men.png) 0 100% repeat-x;
    outline: none;}
.menu a:hover, .menu a:focus {
    color: #000;
    padding: 15px 17px 14px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #f7f7f7;
    background-color: #f2e0ce;
    text-decoration: none;}
.js .menu .level {
    display: none;}
.menu .level0 {
    border-top: 1px solid #c4c4c3;}
.menu .current .level0 {
    border-top: none;}
.menu .current .level0 {
    display: block;}
.menu .level0 .list {
    padding: 10px 0;
    border: 1px solid #f3f3f3;
    background: #d3d1d1 url(../img/g3.png) 0 0 repeat-x;}
.menu .current .level0 .list {
    padding-top: 0;
    border-color: #fffaf5;
    border-top: none;
    background: #fef5ec url(../img/g4.png) 0 100% repeat-x;}
.menu .level0 li,
.menu .level0 a {
    padding: 0;
    background: none;
    border: none;
    font-weight: normal;}
.menu .level0 a:link, .menu .level0 a:visited {
    padding: 5px 21px;
    text-shadow: none;
    text-decoration: underline;
    color: #333;}
.menu .level0 a:hover, .menu .level0 a:focus {
    background: #c9c9c9;
    color: #000;}
.menu .current .level0 a:link, .menu .current .level0 a:visited {
    padding-left: 18px;}
.menu .current .level0 a:hover, .menu .current .level0 a:focus {
    background: #fcc198;}

.menu .level0 .cur a:link,
.menu .level0 .cur a:visited,
.menu .level0 .cur a:hover,
.menu .level0 .cur a:focus {
    background: #ffa365 url("../img/g5.png") 0 0 repeat-x;
    color: #000;
    text-decoration: none;}

.menu .level1 {
    font-size: 13px;}
.menu .level0 .cur .level1 {
    display: block;}
.menu .level0 .level1 .list {
    background: #fcd5b9;
    padding: 10px 10px 10px 27px;
    border: none;}
.menu .level1 li {
    margin-top: 5px;} /*margin-top: 5px;*/
.menu .level1 li:first-child {
    margin-top: 0;} /* margin-top: 0;*/
.menu .level0 .level1 a:link, .menu .level0 .level1 a:visited {
    display: inline-block;
    padding: 0 0 0 12px;
    background: url("../img/m1.png") 0 -18px no-repeat;
    color: #43210c;
    text-decoration: underline;}
.menu .level0 .level1 a:hover, .menu .level0 .level1 a:focus {
    color: #774120;
    background-position: -13px 7px;
    text-decoration: underline;}
.menu .expanded .level0 {
    display: block;}

.all {
    font-size: 12px;
    font-weight: normal;}
.all a {
    font-weight: bold;}

.menu-a {
    padding: 0 355px 0 21px;
    position: relative;}
.menu-a .image {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;}
.menu-a .current .image,
.menu-a li:hover .image {
    display: inline-block;
    *display: inline;
    zoom: 1;}
.menu-a li:hover .image {
    z-index: 2;}
.menu-a li {
    margin-top: 14px;}
.menu-a li:first-child {
    margin-top: 0;}
.menu-a a:link, .menu-a a:visited {
    display: block;
    zoom: 1;
    padding-right: 21px;
    background: url(../img/m0.png) 10px 4px no-repeat;}
.menu-a a:hover, .menu-a a:focus {
    text-decoration: none;
    background: url(../img/dec-p.png) 100% -311px no-repeat;}
.menu-a a span {
    display: block;
    padding: 3px 11px 4px 32px;}
.menu-a a:hover span, .menu-a a:focus span {
    background: url(../img/dec-p.png) 0 -285px no-repeat;}


.subNav {
    position: relative;
    top: -1px;
    *top: -2px;
    text-align: center;}
.subNav .list {
    position: relative;
    z-index: 1;}
.subNav .list:before,
.subNav .list:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 1px;
    left: -60px;
    width: 70px;
    height: 14px;}
.subNav .list:before {
    background: url(../img/g1.png) 0 0 repeat-y;}
.subNav .list:after {
    left: auto;
    right: -60px;
    background: url(../img/g2.png) 0 0 repeat-y;}


.subNav .list,
.subNav a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;}
.subNav li {
    float: left;
    margin-left: -8px;}
.subNav li:first-child {
    margin-left: 0;}
.subNav a:link,.subNav a:visited, .subNav LI.selected a{
    width: 102px;
    height: 85px;
    padding: 0 10px;
    line-height: 85px;
    vertical-align: middle;
    text-align: center;
    color: #000;
    text-decoration: underline;
    background: url(../img/nav.png) -122px 0 no-repeat;}
.subNav a:hover,.subNav a:focus {
    position: relative;
    z-index: 1;
    color: #333333;
    text-decoration: underline;
    background-position: -122px -85px ;}
.subNav li:first-child a:link,.subNav li:first-child a:visited {
    background-position: 0 0;}
.subNav li:first-child a:hover,.subNav li:first-child a:focus {
    background-position: 0 -85px;}
.subNav li.last a:link,.subNav li.last a:visited {
    background-position: -244px 0;}
.subNav li.last a:hover, .subNav li.last a:focus {
    background-position: -244px -85px;}

.subNav a span {
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
    text-decoration: underline;}

.filter .block6 {
    margin-bottom: -1px;}
.trigger-filt {
    padding-right: 11px;
    background: url(../img/a0.png) 100% 4px no-repeat;}
.trigger-filt.toggled {
    background-position: 100% -25px;}
.trigger-filt a:link, .trigger-filt a:visited {
    zoom: 1;
    outline: none;
    color: #787878;
    text-decoration: none;
    border-bottom: 1px dotted #787878;}
.trigger-filt a:hover, .trigger-filt a:focus {
    border-bottom: 1px dotted transparent;}
.filter .stat {
    /*display: none;*/
    font-size: 12px;
    color: #666666;}
.filtered .stat {
    display: block;}
.filter .stat-a {
    color: #663300;}
.filter .stat-a .panel {
    margin-left: 6px;}
.filter .count {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;}

body .tabs0 .ui-tabs-nav li {
     float: none;
     top: auto;
     position: static;}
body .tabs0 .ui-tabs-nav li a {
     white-space: nowrap;
    float: none;}
body .tabs0 .ui-tabs-nav li.ui-tabs-selected {
    background: url(../img/m0.png) 0 1px no-repeat;}
body .tabs0 .ui-tabs-nav li.ui-tabs-selected a {
    text-decoration: none;
    border-bottom-color: transparent;
    color: #ff3300;}
.tabs0 .tabsNav {
    background: #EBEAEA url("../img/r6g.png") 0 0 repeat-x;
    border: 1px solid #cbcbca;
    margin: -4px 0 -1px;
    *margin-top: -1px;
    padding: 16px 19px;}
.tabs0 {
    z-index: 0;}
.panel1 {
    z-index: 1;}

.filter-cont li {
    margin-bottom: 2px;}
.filter-cont a {
    display: inline-block;
    padding: 1px 18px 0 5px;}
.filter-cont a.chosen:link, .filter-cont a.chosen:visited {
    background: #fed6ad url("../img/x1.png") 100% 50% no-repeat;
    color: #333333;}
.filter-cont a.chosen:hover, .filter-cont a.chosen:focus {
    text-decoration: line-through;
    color: #000;}
.block8 .filter-sub {
    padding: 8px 16px 9px 22px;
    background: #fbfbfb;
    border-bottom: 1px solid #e6e6e6;
    margin: -10px -22px 14px;}

.filter .row-btn .item {
    margin-left: 10px;}
.filter-sub .row-btn .item {
    margin-left: 4px;}
.filter .sel {
    display: inline-block;
    width: 30px;
    white-space: nowrap;
    color: #ff3300;
    margin-left: 3px;}
.filter .sel-h {
    visibility: hidden;}
.filter {
    position: relative;}
.opened {
    z-index: 100;}

.modal {
    display: none;}
.modal0 {
    width: 672px;}
.simplemodal-overlay {
    background: #fff;}
.simplemodal-container {
    top: -17px;
    *top: -16px;
    left: 0;
    position: absolute !important;}
.simplemodal-wrap {
    overflow: visible !important;}
a.simplemodal-close {
    cursor: pointer;
    text-decoration: none !important;
    background: url(../img/x.png) 0 0 no-repeat;
    width: 29px;
    height: 29px;
    z-index: 10;
    position: absolute;
    right: -14px;
    top: -14px;}

.desc0 {
    overflow: hidden;
    font-size: 12px;
    line-height: 19px;
} /*3.6em*/

.old {
    margin-top: 2px;
    font: bold normal 12px 'Arial'; /*bold*/
    color: #999999;}

.noted {
    position: relative;}
.noted .note {
    position: absolute;
    display: inline;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #fdead7;
    margin: -3px 0 0 14px;
    padding: 4px 16px 5px 12px;}
.noted .note:before {
    content: '';
    position: absolute;
    background: url(../img/m2.png) 0 0 no-repeat;
    width: 23px;
    height: 22px;
    left: -10px;
    top: -7px;}

.dest {
    /*zoom: 1;
    position: relative;*/

}

.gal {
    position: relative;
    zoom: 1;}
.gal .panel a {
    display: block;
    *display: inline;
    zoom: 1;
    outline: none;}
.gallery {/*display: none;*/} /**/
.gallery .panel {
    vertical-align: middle;
    text-align: center;
    font-size: 0;}
#gallery .panel {
    line-height: 296px;}
.gallery .panel img {
    vertical-align: middle;}
.iefix {
    display: none;}
.empt {
    padding: 0;
    list-style: none;
    height: 280px;
    background: url(../img/noimg0.jpg) 50% 50% no-repeat;}
.nav-prev, .nav-next {
    margin-top: 5px;}
.noNav .nav-prev, .noNav .nav-next {
    display: none;}
.strip_wrapper {
    z-index: 10;}

.table0 {
    width: auto;}
.table0 td {
    padding: 3px 12px 0 0;}
.table0 tr:first-child td {
    padding: 0 12px 0 0;}

.table1 {
    background: #f5f5f4;}
.table1 tr {
    background: url(../img/hl2.png) 0 100% repeat-x;
    *background: none;}
.table1 td {
    padding: 9px 30px 8px;
    *background: url(../img/hl2.png) 0 100% repeat-x;}
.table1 td:first-child {
    background: url(../img/vl0.png) 100% 0 repeat-y;
    *background: url(../img/hl2.png) 0 100% repeat-x;
    *border-right: 1px solid #ff3300;
}
.char {
    font-size: 12px;
    color: #666;}

.img .price {
    margin: 0 5px 3px 0;}



.table3 {}
.table3 td {
    padding: 22px 10px 24px;}
.table3 tbody td {
    background: #f2f2f2 url(../img/hl3.png) 0 0 repeat-x;}
.table3 tr:first-child td {
    background-image: none;}
.table3 tfoot tr:first-child td {
    background: #f7f5f3 url(../img/hl4.png) 0 0 repeat-x;}
.table3 .even td {
    background-color: #f9f9f9;}

.table3 td, .table3 th {}
.table3 th {
    padding: 8px 10px 7px;
    background: #f9f9f9 url("../img/vl1.png") 0 0 repeat-y;
    font-weight: normal;
    color: #ff3300;
    text-align: left;
    white-space: nowrap;
    border-bottom: 2px solid #cccccc;}
.table3 th:first-child {
    background-image: none;}

.table3 .img {
    float: none;
    margin: 0;
    width: 94px;}
.table3 .descr {
    width: 170px;}
.table3 .price {
    white-space: nowrap;}
.table3 .inp {}
.table3 .count-b {
    padding-top: 16px;}
.table3 .del {
    padding-top: 18px;}
.table3 .del {
    padding-right: 8px;
    white-space: nowrap;
    text-align: right;}
.bprice .price, .sum .price {
    font-weight: normal;}
.table3 .sum .price {}
a.deleteItem {
    background: url(../img/x2.png) 0 0 no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    *display: inline;
    zoom: 1;}
a.deleteItem:hover {
    background-position: 0 -28px;}
.table3 .deleteItem {
    margin-right: 5px;}
.table3 a.deleteItem, .table3 .later {
    vertical-align: middle;}
a.later:link, a.later:visited {
    color: #666666;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dotted #666666;}
a.later:hover, a.later:focus {
    text-decoration: none;
    border-bottom-color: transparent;}


.table3 tfoot td {
    border-bottom: none;
    vertical-align: middle;
    padding: 23px 0 0;}
.table3 .total {
    padding: 26px 5px 22px 0;
    text-align: right;
    font-size: 20px;
    color: #666;}
.table3 .total .price {
    margin-left: 10px;}

.tabs1 h5 {
    margin-right: 37px;}
.tabs1 .tabsNav {
    margin-bottom: 20px;}
body .tabs1 .ui-tabs-nav li {
    font-size: 12px;
    padding-right: 5px;
    margin-right: 20px;
    top: auto;
    position: static;}
body .tabs1 .ui-tabs-nav li a {
    line-height: 1.1;
    padding: 1px 0 2px 6px;
    *padding: 0 0 3px 6px;
    color: #666666;
    text-decoration: none;
    white-space: nowrap;}
body .tabs1 .ui-tabs-nav li a span {
    border-bottom: 1px dotted #666666;}
body .tabs1 .ui-state-hover a span {
    border-bottom-color: transparent !important;}
body .tabs1 .ui-tabs-nav li.ui-tabs-selected {
    background: url(../img/dec-p.png) 100% -1763px no-repeat;}
body .tabs1 .ui-tabs-nav li.ui-tabs-selected a {
    background: url(../img/dec-p.png) 0 -1746px no-repeat;
    text-decoration: none;
    border-bottom-color: transparent;
    color: #fff;}
body .tabs1 .ui-tabs-nav li.ui-tabs-selected a span {
    border-bottom-color: transparent !important;}
body .tabs1 .ui-tabs-nav li a span i {
    font-style: normal;}

.parameter {
    zoom: 1;
    margin-bottom: -7px;}
.parameter h4 {
    margin: 0;}
.parameter label {
    position: relative;
    top: -2px;
    *top: -3px;
    display: inline-block;
    font-size: 12px;
    color: #666666;}
.parameter label .lbl {
    vertical-align: middle;}
.parameter .input {
    vertical-align: middle;
    margin: 0 1px;
    *margin: 0 4px;}
.trackWrap {
    margin-top: 5px;
    vertical-align: baseline;}
.parameter .width1 input {
    *width: 44px;}

.filter .exp {
    white-space: normal !important;}
.exp-dual.expanded .dest {
    display: block !important;}
.note1 {
    font-size: 11px;
    color: #666666;}


.gap0 {
    margin-bottom: 12px;}
.gap1 {
    margin-bottom: 22px;}
.gap2 {
    margin-bottom: 6px;}
.gap3 {
    margin-bottom: 54px;}
.gap4 {
    margin-bottom: 30px;}
.gap5 {
    margin-bottom: 45px;}
	
.gap6 {
    margin-bottom: 40px;}
.gap7 {
    margin-bottom: 25px;}

table .tgap0 td {
    padding-top: 20px;}







/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

.displayBlock {
	display: block !important;
}

.desc-hidden {
    display: none;}
.desc-txt,
.desc-h {
    line-height: 1.2;
    overflow: hidden;}
.desc-txt {
    height: 3.6em;}
.desc-h {
    height: 1.2em;}
	
.ul-brand {
	list-style-type: none; 
	padding-top: 5px;
}
.block-brand {
	position: absolute; 
	margin-left: -20px; 
	margin-top: -20px;
}
.cnt-min-height {
	min-height: 20px !important;
}
.select-lv3 {
	background-color: #FFB365 !important;
}


.filterError {
  display: none;
  padding-bottom: 8px;
  padding-left: 0px;
  color: #ff0000;
}

.nodecor {
	text-decoration: none !important;
}

.in-basket-yet {
	position: absolute; 
	right:-15px; 
	top: -10px; 
	background: url(/img/in_basket.png) no-repeat top left; 
	width:63px; 
	height: 27px;
}
.in-basket-yet-margin {
	margin-top: 14px;
	margin-bottom: 14px;
}

.fontReducedElement {
    font-size: 12px;
    margin-top: -30px;
    padding-bottom: 15px; /*32*/
}

.top-text {
	margin-bottom: 20px;
}

.mainlink:hover, .mainlink a:focus {text-decoration:none;color:#ff3300;cursor: pointer;}
li .mainlink a { font-weight: normal; }

.liveinternet {display: none;}

.seoTitle {
    font: bold 16px/1.2 Arial,sans-serif;   
    padding-bottom: 10px;
    padding-left: 3px;
}

.noLink {
    color: #999999;
}

.fs14 {
    font-size: 14px !important; 
}

.blockHide {
    display: none;
}

.blockShow {
    display: block;
}

.rating .rating-b{
    min-width: 41px;
}
.lightboxx, #photo, .basket_image {
	cursor: url("/img/lens.cur"), auto;
}
.desc a {
	color: #ff3300;
	font-weight: normal!important;
}
.desc a:focus {
	color: #cc3300;
}
.gap1 a {
	font: bold 14px/1.2 Arial, sans-serif;

	color: #ff3300;
}

.new_button {
	border: 1px solid #CCCCCC;
	overflow: hidden;
	width: 500px;		
	margin: 5px auto;	
	border-radius: 7px;			
}
.new_button.full_width { width: auto; }
.new_button.width50 {
	width: 48%;
	margin: 0px 5px 5px 0px;
	float: left;
	height: 40px;
}


.new_button.get_price {	
	margin: 0px 5px 5px 0px;
	float: left;
	width: 210px;
}

.new_button.get_price .a-button {
    width: 178px;
    text-align: center;
    font-weight: normal !important;
}

.new_button button {
	background: none repeat scroll 0 0 #FAE0C8;
	border: 1px solid #FFFFFF;
	color: #333333;
	cursor: pointer;
	padding: 3px 15px;
	width: 100%;	
	border-radius: 7px;			
}
.new_button.width50 button {
	height: 100%;
}
.new_button:hover button {
	background: none repeat scroll 0 0 #FCC198;
}
.new_button:active button {
	background: none repeat scroll 0 0 #faa46b;
}

.new_button .a-button {
	background: none repeat scroll 0 0 #FAE0C8;
	border: 1px solid #FFFFFF;
	color: #333333;
	cursor: pointer;
	padding: 3px 15px;
	width: 100%;	
	border-radius: 7px;
    display: block;
    text-decoration: none;
    width: 468px;    
}
.new_button.full_width .a-button { width: auto; }

.new_button:hover .a-button {
	background: none repeat scroll 0 0 #FCC198;
}
.new_button:active .a-button {
	background: none repeat scroll 0 0 #faa46b;
}

/* Redisign classes (begin)*/
    .b-light-border {
        -webkit-border-radius: 2px; 
        -moz-border-radius: 2px; 
        border-radius: 2px; 

        border-color: rgba(255,102, 0, 0.35);
    }
    
    .light-red-link {
        text-decoration: none !important;
        border-bottom: 1px solid rgba(255, 51, 0, 0.35);
    }
/* Redisign classes (end)*/
/* Styles on seictions (begin)*/
    .b-gap4 {
    }
    .b-gap4 .gap1 {
        margin-bottom: 30px;
    }
    .b-gap4 .item {
        position: relative;
        margin-right: 5px;
    }
    .door-img {
        height: 230px !important;
        border-color: rgba(255,102, 0, 0.20);
    }
    .b-gap4 .desc0 {
        height: auto !important;
        padding-bottom: 1px !important;
    }
    .b-gap4 .desc0  a {
        text-decoration: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    }
    .b-gap4 .desc0  a:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    }
    .b-gap4 .image  {
        -webkit-border-radius: 2px; 
        -moz-border-radius: 2px; 
        border-radius: 2px; 
    }
    .price-positon {
        position: absolute;
        top: 223px;
        right: 0;
        text-align: right !important;
    }
    .b-gap4 .price {
        font-size: 14px;
        width: auto !important;
    }
    .b-gap4 .price1 {
        font-size: 12px;
    }
    .b-gap4 .price-positon .price0 .val {
        font-weight: normal !important;
    }
    .b-empty-img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -46px;
        margin-left: -68px;
    }

    
    .b-old-ruble {
        color: #333;
    }
/* Styles on seictions (end)*/

/* Door element (begin)*/
/* Door element (end)*/

/* Styles on seictions (arbist_new_catalog) (begin)*/
    .b-item3-on-row {
        width: 211px;
        margin-right: 9px !important;
    }
    .ceramic-img {
        position: relative;
        height: 155px;
    }
    .ceramic-img img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;
    }

    .minimal-category-price {
        margin-top: 3px;
    }
    .category-vendor-title,  .category-vendor-title a {
        font-size: 12px;
    }
    .light-grey-link {
        color: #666 !important;
        text-decoration: none !important;
        border-bottom: 1px solid rgba(102, 102, 102, 0.25) !important;
    }
    .minimal-category-price_bg {
        font-size: 13px;
        display: inline-block;
        padding: 2px 5px;
        color: #444;
        margin-top: 6px;
        background: rgba(255, 113, 16, 0.10);

        -webkit-border-radius: 7px; 
        -moz-border-radius: 7px; 
        border-radius: 2px; 
    }
    .minimal-category-price_bg .val {
        font-weight: normal;
    }
    .vendor-link-on-top {
        font-size: 11px !important;
        font-weight: normal !important;
    }

/* Styles on seictions (arbist_new_catalog) (end)*/

    .simple-list {
        margin: 0;
        padding: 0;

        margin-left: 16px;
        margin-top: -8px;
        margin-bottom: 18px;
    }
    .simple-list li {
        margin-bottom: 8px;
    }

    .small-seo-text {
        font-size: 11px;

        color: rgba(255, 51, 0, 0.35);

        display: inline-block;
        margin-bottom: 5px;
    }


/* Table (begin)*/
.simple-table {
    border-collapse:collapse; 
    text-align: center;
    margin-bottom: 15px;
}
.simple-table th,.simple-table td{
	border:1px solid #ccc;
    border-right: 1px solid rgba(204, 204, 204, 0.2);
    border-left: 0;
	padding:10px 5px;
}
.simple-table th {
    font-size: 12px;
    font-weight: bold;
}
.simple-table__first-th {
    text-align: left;
}
.simple-table th{white-space:nowrap;}
.simple-table td{vertical-align:middle;}
.simple-table td.td-name{padding-right:20px;}
.simple-table td.td-ed{text-align:center;}
.simple-table td.td-price{white-space:nowrap;text-align:right;}

.a-in-basket{padding-top:3px; display:block;}
.simple-table__last-td {
    border-right: 0 !important;
}
.simple-h3 {
    margin-bottom: 8px;
}
/* Table (end)*/
.tarif-label {
    display: inline-block;
    width: 170px;
}
.vendor-texts {
    margin: 30px 0px;
}    
    
.li-interior-doors-selected {
    background-color: #FEA163 !important;
}